[2016-11-08 13:12] jktravis opened #1 "Can I change the wrapper element?"
Hi.

I'm trying to use this in a table where the entire `<tr>` would be the right-click target. The problem is that a `<div>` is not allowed as a child to a `<tbody>`.

Is there an easy way to change the wrapper for the `menuProvider`, or better still, not use one?

[2016-11-08 15:31] sniphpet commented on #1
Hello,

I don't know why I forgot to allow that. Anyway the I need to review the component.

I'll try to use Children.only instead of a wrapper.
If it doesn't work I'll add the possibility to set the wrapper tag.

I can make a release tonight if you want.

What do you think ?

[2016-11-08 15:39] jktravis commented on #1
Sounds great! Thanks for the quick response!

[2016-11-09 06:55] sniphpet commented on #1
Hello,

I made a new release ! I extended the api. You can check the README for more details.

[2016-11-09 06:55] #1 closed

[2016-11-25 09:24] KARTIK01 opened #2 "add documentation for Use the Left Click to open menu"
Please add code or in documentation explain how can **Use the Left Click** to open menu.

Code given only opens menu on right clicks only.

[2016-11-26 12:24] sniphpet commented on #2
Hello,

Actually this is already specified into the documentation :
![image](https://cloud.githubusercontent.com/assets/5574267/20640300/0d49f236-b3da-11e6-88c9-5e2a18663c18.png)

You can pass an event props  to ```ContextMenuProvider ```, the values are the same as react event :
[code]

So in your case, if you want to show the menu on left click, pass "onClick" to the event props as  I did above.

[2016-11-26 12:24] #2 closed

[2017-02-17 17:30] jktravis opened #3 "Question: Can I capture the item that was clicked before the rendering of the menu?"
In the spirit of a context menu, I'd like to enable/disable an `<Item/>` in the menu based on the node that was clicked. I know there's the disable attribute for this, and the function calls on the `<Item/>` pass in the clicked object as well, but I don't see how to get the clicked object before rendering the menu in order to set the disabled flag.

[2017-02-20 20:11] sniphpet commented on #3
Hello,

Sorry for the late reply. Inside your stateful component define a callback to set the item that needs to be disabled.
Pass the callback down to the children who will be wrapped with the ```<ContextMenuProvider>```.
Attach an event to the ContextMenuProvider and call the callback inside. You must use the same event as the one used to display the context menu.

I don't know if my explanation

[2017-02-21 12:30] jktravis commented on #3
I see. Thanks.

[2017-02-21 12:30] #3 closed

[2017-04-23 19:44] fkhadra opened #4 "Upgrade to latest react version and switch to prop-types"

[2017-05-07 16:28] fkhadra opened #5 "Review build system"

[2017-05-07 16:28] fkhadra opened #6 "Review implementation and refactor if needed"

[2017-05-10 18:55] #4 closed

[2017-05-17 22:34] #6 closed

[2017-05-17 22:34] #5 closed

[2017-05-17 22:35] fkhadra opened #9 "Rewrite Documentation and gh-pages"

[2017-05-18 09:15] brezetsky opened #10 "Right click behaviour"

[2017-05-18 09:17] brezetsky opened #11 "Right click behaviour"
Default context-menu shown when you clicked right click menu while menu is opened.
<img width="806" alt="screen shot 2017-05-18 at 11 17 28 am" src="https://cloud.githubusercontent.com/assets/24649701/26195319/ad80f894-3bbb-11e7-89b6-7ce699eac831.png">

[2017-05-18 09:18] #10 closed

[2017-05-18 09:24] brezetsky opened #12 "Unpossible to use React condition"
next structure doesn't work in case of condition is false
`{condition && <Separator/> && <Item label="label" disabled/>}`

[2017-05-18 10:14] fkhadra commented on #11
@brezetsky it will be fixed in the release

[2017-05-18 10:14] fkhadra commented on #12
Can you give more details? I don't get the point here...

[2017-05-18 11:39] brezetsky commented on #12
Updated. Added like a code this time. Please, look on it one more time.

[2017-05-18 11:50] fkhadra commented on #12
if the condition is false with the following  structure `{condition && <Separator/> && <Item label="label" disabled/>}`  it will always be false.

If you want to render a separator or an item depending on the condition a ternary is what you are looking for.
`condition ?  <Separator/> :  <Item label="label" disabled/>`

![image](https://cloud.githubusercontent.com/assets/5574267/26200872/a480a374-3

[2017-05-18 11:55] brezetsky commented on #12
Yes. Your code works. But I would like just if condition. And it something what I have done.
But if condition is true, I would like to add item to menu and without else.

[2017-05-18 11:59] brezetsky commented on #12
Like **Inline If with Logical && Operator** here https://facebook.github.io/react/docs/conditional-rendering.html

[2017-05-18 12:01] fkhadra commented on #12
Ok I start to understand now 😁 . If your condition is true you want to render both the <Separator /> and <Item /> ?

[2017-05-18 12:03] fkhadra commented on #12
In that case : `{condition && <Separator/> && <Item label="label" disabled/>}` if the condition is true only
`<Item label="label" disabled/>`  will be rendered

[2017-05-18 12:26] brezetsky commented on #12
Can not agree with you. If condition is true both of them will  rendered and it works perfectly.
But problem if condition return false.
<img width="609" alt="screen shot 2017-05-18 at 2 26 45 pm" src="https://cloud.githubusercontent.com/assets/24649701/26202001/0a8f05a2-3bd6-11e7-9576-153f08493aa9.png">

[2017-05-18 12:36] fkhadra commented on #12
If i do the following : `{true && <h1>foo</h1> && <div>bar</div> }`  only bar is rendered.

Snippet here : [codepen](http://codepen.io/sniphpet/pen/Wjgqre).

Can you provide a pen ?

[2017-05-18 13:10] brezetsky commented on #12
Yes. You are right about true condition
What about false conditions. It produce a error. And it was my question originally

[2017-05-18 14:07] fkhadra commented on #12
What you need to do is :
` {false && (<div><h1>foo</h1><div>bar</div></div>)}`  As you can see you need to wrap the element.
` {false && (<h1>foo</h1><div>bar</div>)}` . Without the div it won't work.

So in your case, it will be easier if you do because you can't group the separator and the item :

`` {condition && <Separator />}``
`` {condition && <item />}``

snippet : [codepen](http://codepen.

[2017-05-18 14:18] brezetsky commented on #12
That is not a problem. Problem exists in that moment when condition is false
Then {condition && <item />} returns error
<img width="806" alt="screen shot 2017-05-18 at 11 17 28 am" src="https://cloud.githubusercontent.com/assets/24649701/26206601/953c1f46-3be5-11e7-8866-4e52f2e50aec.png">

[2017-05-18 14:27] brezetsky commented on #12
And my expectations is not see separator it item if conditions will be false, without any error

[2017-05-18 16:07] fkhadra commented on #12
Can you send me the full snippet so I can reproduce the issue ?

[2017-05-19 13:32] brezetsky commented on #12
Sorry for late answer. Not sure how I can add this plugin to codepen. At least, code for reproducing you can find below.

`        <ContextMenuProvider id={'context_menu' }>
          Right click
        </ContextMenuProvider>
        <ContextMenu id={'context_menu' }>
          {enabled ?
            (<Item label="Item 1"/>) :
            (<Item label="Item 1" disabled />)
          }

[2017-05-19 13:34] brezetsky commented on #11
Thanks. When will be next release?

[2017-05-19 13:43] brezetsky commented on #12
If you can explain me how to add library to codepen -  I will add a snippet

[2017-05-19 14:38] fkhadra commented on #11
@brezetsky. This week, tonight or tomorrow. I have to end the documentation.
That version will be not backward compatible. I hate to do that but I had too.
I'll warn you as soon as I release it

[2017-05-19 14:39] brezetsky commented on #11
Great, thank you!

[2017-05-19 14:40] fkhadra commented on #12
@brezetsky the code is enough thanks. I'll check it when I'm home.

[2017-05-19 19:34] fkhadra commented on #12
Hey, in the next release this `{false && <Item label="Item 2 will produce a error" />}`  will work without any issue.I'm almost done

[2017-05-21 18:54] brezetsky commented on #12
Thanks.
Waiting for new release 👍

[2017-05-21 21:31] #11 closed

[2017-05-21 21:32] fkhadra commented on #12
@brezetsky new release published. I still need to update the demo

[2017-05-21 21:32] #12 closed

[2017-05-22 08:41] brezetsky commented on #12
@fkhadra problem still appear

[2017-05-22 08:43] fkhadra commented on #12
@brezetsky you updated to the last version ?
I'll check when I'm home but it should work. I even included the case inside my test.
But i'll check asap.

[2017-05-22 08:44] brezetsky commented on #12
Sure.
This works for me https://github.com/fkhadra/react-contexify/issues/11

[2017-05-22 19:32] fkhadra commented on #12
@brezetsky new fix inc is few minutes. My test case was bad !

[2017-05-23 03:17] brezetsky commented on #12
Thanks.

[2017-05-23 03:21] brezetsky opened #14 "2 Visible Menu in the same time"
Created to elements with menu for each one. Open first menu, then opened second one - 2 menus appear. After click in non-context zone - both menu disappear.

Also, now have, sometimes, next problem: after click on menu item it still appears.

[2017-05-23 05:51] fkhadra commented on #14
@brezetsky Wasn't include in my test case. Fixed

[2017-05-23 05:51] #14 closed

[2017-05-23 10:02] brezetsky commented on #14
Works!

[2017-05-23 11:22] brezetsky opened #15 "Menu hides after onClick"
Before I could delete object in which I have my context-menu(menu hides before onClick)
Could I trigger onClick after context-menu will be hidden, like before? Or how I can implement delete element now(context-menu triggers on this element)?

[2017-05-23 12:06] fkhadra commented on #15
Can you explain me with a simple snippet which behavior you are looking for?

[2017-05-24 12:01] brezetsky opened #16 "Context menu disappear after unpressing right button in Firefox"
Right button press and hold - menu appears.
Right button unpress - menu disappears(for Mozilla).

Works for Chrome.

[2017-05-24 12:29] fkhadra commented on #16
I just noticed that firefox trigger a click event on right click up ...

[2017-05-24 13:42] fkhadra commented on #16
@brezetsky fixed. I need to test on safari but I don't have a mac at work

[2017-05-24 13:42] #16 closed

[2017-05-24 17:44] brezetsky commented on #16
Thanks.
Works for me in safari too.

[2017-05-24 19:04] brezetsky opened #17 "Conditional disabled."
How to add conditional disabled?
I am trying like this disabled={conditional}. But this doesn't works. At least, disabled={true} makes item looks like disabled, onClick will work, but menu will not disappear.

[2017-05-24 20:08] brezetsky opened #18 "Update instruction"
<img width="966" alt="screen shot 2017-05-24 at 11 07 26 pm" src="https://cloud.githubusercontent.com/assets/24649701/26423306/d3603aa6-40d5-11e7-8d28-654c6bec1641.png">

[2017-05-24 21:03] fkhadra commented on #17
When you click on a disabled item the menu will not disappear because this is the normal behavior. You can try to click on a disabled item with the native context menu, you will see that the menu will not disappear.

Regarding the conditional disabled, the best would be to use a ternary so you are sure that the condition will return true or false :
`
<Item disabled={condition ? true : false } />
`

[2017-05-24 21:03] fkhadra commented on #18
Which instruction needs to be updated?

[2017-05-24 21:13] brezetsky commented on #18
Just here https://github.com/fkhadra/react-contexify
just update react-toatify to react-contexify

[2017-05-24 21:19] fkhadra commented on #18
Didn't even notice that one. Fixed now.
Many thanks by the way

[2017-05-24 21:19] #18 closed

[2017-05-25 11:18] brezetsky commented on #17
Please, close this issue. It was a problem with event bubbling, not with conditional, sorry.
For condition I propose next
<Item disabled={!!condition } />

[2017-05-25 12:57] fkhadra commented on #17
Ok ok

[2017-05-25 12:57] #17 closed

[2017-05-26 11:21] brezetsky opened #19 "Hide context menu onMouseDown action"
click right button - context menu appears;
press left button and move - context menu still appear;
unpress left button - context menu disappear

[2017-05-26 12:58] fkhadra commented on #19
Just published a new version with that feature.

[2017-05-26 12:58] #19 closed

[2017-05-26 16:49] brezetsky commented on #19
Thank you!

[2017-05-26 21:41] brezetsky commented on #15
[code]

[2017-05-28 21:09] #9 closed

[2017-05-29 07:18] brezetsky commented on #15
@fkhadra Is it possible to hideMenu before onClick action fires in Item.js?

[2017-05-29 07:35] fkhadra commented on #15
@brezetsky you want to click on a item but do nothing right ?

[2017-05-29 08:35] brezetsky commented on #15
@fkhadra , look on my example. I have ContextMenuClass object. I would like to have contextmenu on this item. Then, I would like to have **menu delete option**. After click on this option I want to delete ContextMenuClass object. ContextMenuClass is deleting faster then menu hides -> have Can **only update a mounted or mounting component.**

[2017-05-29 09:36] fkhadra commented on #15
@brezetsky I was able to reproduce your issue thanks to the snippet. In the meantime, I was also able to fix it. In the `handleMenuDelete` add the following:

[code]
Doing so `this.forceUpdate` will be executed asynchronously. Can you give it a shot, it works for me.

[2017-05-29 14:03] brezetsky commented on #15
Works for me also

[2017-05-29 14:46] #15 closed

[2017-06-07 20:46] ali-stratoscale opened #23 "Cannot read property of 'offsetWidth' of null"
When I try to create a menu and right click on said MenuProvider I get thrown with the following error in the console. It seems that this.menu is null and it is trying to access a value of a null object.

I am not sure if I did something wrong, or they should have been a default value for it?

[2017-06-08 00:07] ali-stratoscale commented on #23
It was an issue with my setup, sorry for the trouble.

[2017-06-08 00:07] #23 closed

[2017-06-08 07:00] fkhadra commented on #23
@ali-stratoscale np

[2017-07-06 20:05] nihiluis opened #24 "Context menu navigation via ArrowDown and ArrowUp"
Might be a nice feature.

[2017-07-06 22:04] fkhadra commented on #24
Indeed !

[2017-07-14 08:30] toyang opened #25 "May I have the demo's source code?"
hello, May I have the demo's source code?

[2017-07-14 08:51] fkhadra commented on #25
Hello @toyang,

Of course, the sources are located under the [gh-source branch](https://github.com/fkhadra/react-contexify/tree/gh-sources).

The code is not the cleanest don't hesitate if you have questions!

[2017-07-14 09:08] toyang commented on #25
Thanks a lot .It is useful for me

[2017-07-14 09:08] #25 closed

[2017-07-23 23:25] dsslimshaddy opened #26 "Nested Menu"
Add support for nested menus

[2017-08-25 10:19] brezetsky opened #27 "ContextMenu & transform"
Hi fkhadra,

I got next problem: I have the parent element with style transform. When I add context menu on child element, then its behaviour incorrectly.

Please, find example below.

[code]

[2017-08-25 16:30] fkhadra commented on #27
Hey @brezetsky ,

Indeed, I reproduced the issue there:

[![Edit Debug issue #27 react-contexify](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/40xw6r1jm9)

I'll fix it asap.

[2017-08-25 16:53] fkhadra commented on #27
@brezetsky I don't know if I'll be able to fix it but I found a post which explains what's going on.
BTW, thanks I learned something :grinning:
[Explaination here](https://stackoverflow.com/questions/15194313/transform3d-not-working-with-position-fixed-children/15256339#15256339)

[2017-08-25 18:22] brezetsky commented on #27
@fkhadra yes, I read about this. But I think context menu should work from any place on the page. In this case, it should be moved to <body> and then it will work. Is it possible?

[2017-08-25 18:50] fkhadra commented on #27
Hmm, it can do the job. Just thinking if there is a way to implement it without relying on findDOMNode.

[2017-08-25 21:31] fkhadra commented on #27
Hey @brezetsky ,
I managed to fix it. I'll publish a new version tomorrow. I have to write more tests.

[2017-08-25 21:58] brezetsky commented on #27
Hey @fkhadra ,

Cool. Thanks.

[2017-08-27 17:27] brezetsky commented on #27
Hi @fkhadra,

Will you publish it today?

[2017-08-27 20:48] fkhadra commented on #27
Hey @brezetsky,

I'll will in a few minutes. I'll let you know

[2017-08-27 20:58] fkhadra opened #28 "readme-ctx"
![readme-ctx](https://user-images.githubusercontent.com/5574267/29753912-43c54008-8b7b-11e7-9627-258fde1ffddd.gif)

[2017-08-27 20:58] #28 closed

[2017-08-27 21:08] fkhadra commented on #27
@brezetsky published !

[2017-08-27 21:16] brezetsky commented on #27
Great! Thanks!

[2017-08-28 07:29] brezetsky commented on #27
Hi @fkhadra,

it doesn't work now - https://codesandbox.io/s/j2nq05qox9

[2017-08-28 08:40] fkhadra commented on #27
weird @brezetsky, it's working for me. Cache issue ?

[2017-08-28 09:24] brezetsky commented on #27
Yes, it was cache but still got problem in my app.
<img width="403" alt="screen shot 2017-08-28 at 11 17 15 am" src="https://user-images.githubusercontent.com/24649701/29767604-61c3f03c-8be3-11e7-88a0-78281959b34b.png">

[2017-08-28 09:35] fkhadra commented on #27
For your app, maybe delete node_modules and reinstall the package

[2017-08-29 13:57] vladminsky commented on #27
I have the "Did you forgot to bind the event?" error with 2.1.0 update too.
Can you advice how to handle migration from 2.0.7 to 2.1.0?

Thank you for the lib!

[2017-08-29 14:54] fkhadra commented on #27
hmm @brezetsky, @vladminsky  I think I know why it's happening.

This error means that the event is not bound. Can you show me where in your application you are rendering the ContextMenu component? Did you render it in the root component ?

Anyway, I need to add a rule to check if in that case the event is bound. I'll fix it today.

[2017-08-30 10:15] vladminsky commented on #27
@fkhadra

Thank you for the quick reply.

No. I render ContextMenuProvider and ContextMenu within a subcomponent since it is the only place I need a context menu.

[2017-08-30 11:42] brezetsky commented on #27
Hey @fkhadra,

I tried to delete node_modules few times. Sometimes, context menu worked form for few elements, but not for all. That's why I continue to use the previous version. Waiting for new version :)

[2017-08-30 18:04] brezetsky commented on #27
@fkhadra , any updates today?

[2017-08-30 20:49] fkhadra commented on #27
Hello @brezetsky @vladminsky,

I published a new version could you try it and tell me if it fix your issue please ? Don't forget to clear your cache 😁 .
Thanks

[2017-08-31 09:11] brezetsky commented on #27
Hello @fkhadra
Still no. For some elements works and for some - no

[2017-08-31 09:23] fkhadra commented on #27
I don't have a snippet so it's hard to reproduce.Can you provide a snippet,  it will be easier for me to see what's going on.

[2017-08-31 15:06] Neophius commented on #27
I'm having the same issue.  Assume that ContextMenuComponent is returning
<ContextMenu id="ContextMenuID" />

() => {
return (
<ContextMenuComponent />
.
.
.
<div className="
   <ContextMenuProvider id="ContextMenuID"><Button /></ContextMenuProvider>
</div>
)
}

This produces the same event not bound error referenced above.

[2017-09-01 14:39] fkhadra commented on #27
I'll work on it tonight. I think i will use react portal instead of the solution I put in place.

[2017-09-02 10:40] brezetsky commented on #27
Will try to make snippet today.
But if you have already a new version - I am ready to test it

[2017-09-02 11:39] fkhadra commented on #27
im trying to reproduce the bug first

[2017-09-03 09:20] brezetsky commented on #27
hey @fkhadra ,
one of snippet https://codesandbox.io/s/zl9n9496wp

[2017-09-03 11:05] fkhadra commented on #27
Hey @brezetsky,

Thanks for the snippet i'm working on it

[2017-09-03 11:53] fkhadra commented on #27
@brezetsky I'm able to reproduce the bug thanks to your snippet. Usually, when I work on a package I use npm link.

With npm link I don't have the bug. I'm trying to understand but this is the first time I encounter such a behavior.

I even tried to pack the lib with npm pack and install it from the packaged archive but still buggy.

<img width="1372" alt="screen shot 2017-09-03 at 13 49 21" src="

[2017-09-03 12:32] brezetsky commented on #27
@fkhadra ,
unfortunately, I didn't work with events. maybe you don't register events for nested elements?
and another question - do you a new context menu for nested elements? Maybe, warning messages are switched off?

[2017-09-03 12:53] fkhadra commented on #27
@brezetsky I finally found the bug 🎉  !
I must call setState by passing a callback cause I need the previous state. Release the fix in few minutes

[2017-09-03 13:51] brezetsky commented on #27
@fkhadra really wait it!

[2017-09-03 16:19] brezetsky commented on #27
You can add test later :)

[2017-09-03 17:37] brezetsky commented on #27
@fkhadra could I expect the release today? I am sorry that I disturb you, but I want to implement new version of context menu in my project :)

[2017-09-03 20:08] fkhadra commented on #27
I pushed the new version. You won't get the "Did you forgot to bind an event" message.

@brezetsky regarding your snippet won't work, only the parent menu will be displayed. To fix it move the  ```<ContextNestedMenuClass />``` as follow:
[code]
 Sorry for the late release btw

[2017-09-03 20:08] #27 closed

[2017-09-03 20:20] brezetsky commented on #27
@fkhadra but this Nested context menu worked before for me

[2017-09-03 20:43] brezetsky commented on #27
Please, find snippet - https://codesandbox.io/s/zl9n9496wp
I would like to have the menu for both elements: black and green.

[2017-09-03 22:35] fkhadra commented on #27
@brezetsky are you sure it was working that way before ?
I made a snippet with an old version and only the parent menu is showing up.
[![Edit react-contexify debug](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/k5z0k1vv15)

Anyway I understand your use case.

[2017-09-03 22:40] fkhadra opened #32 "Support nested context menu"
This relates to what have been discussed with @brezetsky during the [issue 27](https://github.com/fkhadra/react-contexify/issues/27)

[2017-09-06 16:03] jktravis opened #33 "Getting "flattenChildren" error when upgrading from 2.0.7 to 2.1.2"
Hi, Any idea why I would just start getting the `flattenChildren(...): Encountered two children with the same key, 'journal-menu'.` error after upgrading from 2.0.7 => 2.1.2?

As far as I can tell, there's no iteration or lists of components going on where I'm using it except for where I'm using the `ContextMenuProfider`.

[code]

Here's the whole message:

[code]
It looks like there was a ProxyCo

[2017-09-06 18:52] fkhadra commented on #33
Hey @jktravis,

Can you check the content of the ProxyContainer state with the react devtools?
<img width="576" alt="screen shot 2017-09-06 at 20 48 07" src="https://user-images.githubusercontent.com/5574267/30128970-c47760f2-9344-11e7-85f3-995ee93dfe89.png">

Is there any issue with the keys ?

[2017-09-06 19:01] jktravis commented on #33
Yup. It does, indeed, look like they are the same.

![2017-09-06_14-59-07](https://user-images.githubusercontent.com/438688/30129512-192bdc1c-9314-11e7-8ed3-91be399ad394.jpg)

[2017-09-06 19:03] jktravis commented on #33
What's weird is there's only one `journal-menu` on the page anyway. And it only has 2 list items. But it looks like these elements were being created 5 times. Maybe one for each render or something?

[2017-09-06 19:37] fkhadra commented on #33
OMG forgot to remove the context menu from the container when it's unmounted

[2017-09-06 22:11] fkhadra commented on #33
@jktravis I fixed the issue. Sorry for the inconvenience!

[2017-09-06 22:11] #33 closed

[2017-09-22 16:39] hansena opened #35 "Menu rendering off screen"
On right click i can see the dom nodes render and left click makes them go away but the menu renders off screen..   Has anyone else seen this behavior?

![menuoffscreen](https://user-images.githubusercontent.com/15346521/30755039-11e9f458-9f93-11e7-914f-a7bee8ab8138.png)

[2017-09-22 17:44] fkhadra commented on #35
Hey @hansena, when you say that the menu renders off-screen, you are talking about the dom nodes or the menu itself?

[2017-09-22 19:12] hansena commented on #35
Sorry I'm seeing the dom nodes render in chrome dev tools.  The menu appears to be off-screen

[2017-09-22 19:14] #35 closed

[2017-11-06 13:17] krzychukula opened #37 "Is there any way to programmatically open context menu?"
I have an component that based on position (mousemove) should use different data in context menu.
One way that I could work around it is to use my own contextmenu event handler and to open context menu like `openContextMenu('menu_id', someData)` that I could use later on in `Item` `onClick`.

Another would be to have some kind of 'onBeforeContextMenuOpen` where I could calculate data to be passed

[2017-11-06 13:27] fkhadra commented on #37
Hello @krzychukula,

Actually there is no way to trigger the context menu programmatically.

To be honest the current api is missing some features(nested menu, hooks...).

I'm planning to work on the component this week. I'll see what I can improve.

[2017-11-08 08:43] krzychukula commented on #37
@fkhadra I have one more question.
I have mousemove handler close to the context menu with similar looking tooltip with some detailed information. Unfortunately it looks super confusing when I open context menu.
Any suggestions for blocking disabling it?

I can think of 2 ways of implementation
1. Some kind of overlay div with my own mousemove preventing event propagation.
2. Reading 'opened' stat

[2017-11-08 10:40] fkhadra commented on #37
@krzychukula that's an interesting use case. My first thought would be to not render the tooltip when the context menu is displayed.

You need a way to track the context menu state, unfortunately, the current implementation lacks these kinds of features 😢.

I'll review the api but not now, need to find a window for that.

Did you tried [react-contextmenu](https://github.com/vkbansal/react-contextm

[2017-11-08 14:03] krzychukula commented on #37
@fkhadra Thanks I'll take a look :)

[2017-11-08 14:03] #37 closed

[2017-11-15 12:01] kamaldlk opened #38 "I want to user contexify lib into my app can u help me to implement"
Hi @fkhadra
example https://codesandbox.io/s/3z3lq9zn1

thanks for nice lib

please when i click right click **add row above, add row bellow and delete row**
when i select multi rows using check box i want to show **delete all** text need to show please suggest me

thanks

[2017-11-15 13:04] fkhadra commented on #38
Hey @kamaldlk,

Thank for your feedback.
But the context menu used by react-data-grid is not mine 😁
The one used is [here](https://github.com/vkbansal/react-contextmenu).

[2017-11-15 13:40] kamaldlk commented on #38
Ya i seen his example but i like it your approach that's y i asked u @fkhadra

[2017-11-15 13:58] fkhadra commented on #38
Ok I understand. I'll check how it can be implemented.

Keep in mind that my lib don't allow nested menu for the moment 😢

[2017-11-15 13:59] kamaldlk commented on #38
Ha Ha ok no problem i like ur lib animations and single menu

[2017-11-15 14:41] fkhadra commented on #38
You can define the menu on the row or by cell depending on your use case.

The first snippet define a context menu only on firstname cell.
[![Edit 6zv1229w0k](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/6zv1229w0k)

The second one use the context menu for all row.
[![Edit 0o6z6rry4l](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.

[2017-11-15 16:22] kamaldlk commented on #38
Very Very Thanks Brother your so awesome 💯  👍

[2017-11-16 09:20] fkhadra commented on #38
You're welcome.

I don't use skype at all. You can find me on [linkedin](https://www.linkedin.com/in/fadikhadra/)

[2017-11-16 09:20] #38 closed

[2017-11-16 13:00] kamaldlk commented on #38
Brother getting problem while scrolling becoz of rowrender do we have any other chance

[2017-11-16 14:33] fkhadra commented on #38
What do you mean ?

[2017-11-16 16:33] kamaldlk commented on #38
if u scroll horizontal u will   know the issue broher

[2017-12-01 15:59] sli opened #39 "Cannot adjust z-level when using inside Material-UI's Drawer component."
Because of the way the context menus themselves are rendered outside the React root, there does not seem to be a way to use context menus when the screen has a drawer or overlay on it. The context menus simply render underneath the drawer and overlay and become unclickable, even when the context menu is placed inside the drawer.

I have also tried simply setting the z-index of the context menu, to

[2017-12-05 17:35] sli commented on #39
After switching back to react-contextmenu, which I've used with earlier versions of MUI, it seems like this is a limitation of newer versions of MUI and not one of react-contexify as I'm getting the same result.

[2017-12-05 17:38] fkhadra commented on #39
hey @sli,

I forgot to respond sorry. Thank you for the feedback btw. I'll see if I can do something about that

[2017-12-11 12:32] #39 closed

[2018-01-17 07:14] hybridwebdev opened #40 "Does not work/possible scam"
Beware to all considering using this repo. Installation of this via NPM absolutely destroy my dependencies, forcing me to have to rebuild from a package. Luckily I create backups everytime i install new packages.
Second attempt bore same results. Do not use this package if you read this. Nice try dev, i'm sure you got lots of people with this little scam.
I do not give my consent for this to be lo

[2018-01-17 08:03] fkhadra commented on #40
Dear @hybridwebdev,

I don't know which issues you encountered. But your post is not contructive at all. Since you are on github, I can see that all the issues you opened are not constructive either.

Here is a working sample on codesanbox:
[![Edit ym758qx7vx](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/ym758qx7vx)

Peace

[2018-01-17 08:03] #40 closed

[2018-02-06 17:12] jktravis opened #43 "this.menu is null when setting position"
Hi. I'm hoping you can help with this error. Somehow, it seems like the menu isn't be set in certain situations. I'm adding a context menu in a react-virtualized grid that needs drag and drop. The app has multiple routes provided by react-router. All this to say that I'm having trouble getting the error to occur in isolation.

The problem seems to be when I navigate to the page with this particula

[2018-02-06 20:49] fkhadra commented on #43
Hello @jktravis,

The others working `ContextMenu` uses the same setup? (react-dnd, different route)

[2018-02-06 23:28] jktravis commented on #43
Pretty close. There are a few that are not on a virtualized grid. Other than that, yeah. This one takes three grids and kind of stitches them together to give a header top, header left, and then the main grid.

I noticed though, that if I do the drag/drop action before right-clicking, it doesn’t seem to do it.

[2018-02-07 15:08] jktravis commented on #43
Found the problem! Apparently, the component I was loading the menu in is loading multiple times on the page, causing effectively, duplicate menus all with the same name.

Sorry to bother you with this.

[2018-02-07 15:08] #43 closed

[2018-02-07 15:37] fkhadra commented on #43
Oh nice you found it!

[2018-02-08 10:07] fkhadra commented on #32
linked to [issue #26](https://github.com/fkhadra/react-contexify/issues/26)

[2018-02-08 10:07] #32 closed

[2018-02-08 10:09] fkhadra opened #44 "Update build process"
- Adapt build process
- Change eslint rules to match react-toastify
-  Sass out ?

[2018-02-08 10:10] fkhadra opened #45 "Upgrade to react v16"

[2018-02-16 23:12] sielay opened #46 "Conditional rendering"
Hi

I reviewed branch `next` and decided that I will add features mentioned in PRs #41 and #42 there as it makes more sense. You addressed already disabling on function and passing data to the onClick.

Therefore I have few items left to add:

- [ ] `visible` prop in `Item` which is either `boolean` or `function` where, function has access to passed data (use case: some items exists only for speci

[2018-02-16 23:12] sielay commented on #46
Please assign me to that issue :)

[2018-02-28 19:55] #45 closed

[2018-02-28 19:55] #44 closed

[2018-02-28 21:37] #26 closed

[2018-03-04 04:21] Lefortov opened #48 "Support css-modules"
Hi

I have noticed that now if you use css modules in your project and import styles from contexify context menu would not work until setting contexify styles globally. Are there any chances to support css-modules?

Thanks

[2018-03-05 09:20] fkhadra commented on #48
Hello @Lefortoc

I'll work on it when I release the stable v3. Thanks for the feedback.

[2018-03-11 08:51] hybridwebdev commented on #46
Any word on when this will be implemented? Looking to use this component, but not having this functionality is a deal breaker :(

[2018-03-11 20:31] sielay commented on #46
Had not much time yet but you can look into how I approached it before last majorhttps://github.com/fkhadra/react-contexify/pull/42#issuecomment-361072882

[2018-03-11 20:31] sielay commented on #46
https://github.com/fkhadra/react-contexify/pull/42#issuecomment-361072882

[2018-03-11 23:56] almeynman opened #51 "document is not defined error when rendering server side"
I have ssr setup and I receive `document is not defined error`
The error fires from `withProxy`hoc's componentWillMount hook.

[2018-03-13 09:47] fkhadra commented on #51
Hello,

I'll fix it asap.

[2018-03-13 10:12] almeynman commented on #51
Thanks

[2018-03-15 13:15] hb-bobo opened #52 "Hope prevent contextmenu event on ContextMenu component"
1.Hope prevent contextmenu event on ContextMenu component
2. if (e.keyCode === 27 || e.keyCode === 13) { // ECS or enter
            // hideMenu
        }

[2018-03-15 13:49] fkhadra commented on #52
Hey @hb-bobo,

Thanks for the suggestion.

[2018-03-15 19:26] mauricedb opened #53 "Creating a TypesScript React project results in compile errors in index.d.ts"
When using react-contexif in a React TypeScript project the project fails to compile and produces the following error:

[code]

### Steps to reproduce:

1. Create a new project using: `create-react-app --scripts-version react-scripts-ts test1`
1. Add react-contexify using `yarn add react-contexify`
1. Change the App.tsx to the code below:
[code]
4. Start the app using `yarn start`
1. Observe the a

[2018-03-17 12:07] #53 closed

[2018-03-17 13:14] fkhadra commented on #51
Hello @almeynman,

The fix is live

[2018-03-17 13:14] #51 closed

[2018-03-17 13:15] fkhadra commented on #52
Hello @hb-bobo,

The feature has been added

[2018-03-17 13:15] #52 closed

[2018-03-17 14:37] almeynman commented on #51
Thanks, I will check on Monday

[2018-03-26 12:12] umasiyer opened #55 "Unable to click on Menu Item when the disabled property is set via a call back function"
Hi,
We are trying to use react-contexify inside a table element. The table is formed using the package react-table.
We have a couple of scenarios which we wanted the context menu to fulfill:
1. Have dynamic rendering of the menu with enabled and disabled menu items
2. Each enabled item should have a click handler.

In the below-mentioned sandbox environment, we are able to get the dynamic disablin

[2018-03-26 20:08] fkhadra commented on #55
Hello @umasiyer,

The bug has been fixed 😆. Sorry for the trouble

[2018-03-26 20:08] #55 closed

[2018-03-27 03:49] umasiyer commented on #55
@fkhadra , Thank you, I will update the changes and let you know if anything still persists!
Thank you for the quick turnaround!

[2018-03-27 04:00] umasiyer commented on #55
Thank you!!! Verified :+1:

[2018-03-27 07:44] fkhadra commented on #55
You're welcome !

[2018-03-28 08:06] Anandks1993 opened #56 "Hide menu on condition"
Hi

On clicking of item, the context-menu disappears, but is there any way that we can control the hiding of context-menu ? Because I want to accommodate a form inside the context-menu. Thanks in advance

[2018-03-28 18:28] fkhadra commented on #56
Hello,

For the moment, it's not possible. But i'll think about it.

[2018-03-28 18:46] Anandks1993 commented on #56
@fkhadra Thank you .

[2018-03-29 22:00] mjohnson290 opened #57 "Way to programatically open context menu?"
Due to my context menu's placement, I need to set a stopPropagation call on its parent, which causes Contexify to stop short of opening.

Is there a programatic way to open the context menu, perhaps a hook I can get to? I'll even take a hacky-approach at this point.

Thanks!

[2018-03-30 11:10] fkhadra commented on #57
Hello @mjohnson290,

There is currently not a built-in method to do that. But I could give you the "hacky" way.

[code]

If it works, it would be better to create something reusable:

[code]

Then in your app:

[code]

[2018-04-03 15:13] mjohnson290 commented on #57
@fkhadra This worked perfectly, thank you! Great job on this component, it's exactly what I was looking for!

[2018-04-03 15:13] #57 closed

[2018-04-03 16:39] fkhadra commented on #57
@mjohnson290 perfect !

[2018-04-04 06:11] codegeous opened #58 "Cannot read property 'offsetWidth' of null"
When I right click to open the context menu there was an error in the console  "Uncaught TypeError: Cannot read property 'offsetWidth' of null". Please find the attached image for more information.

![image](https://user-images.githubusercontent.com/26200908/38291366-0abc327e-37fd-11e8-9f01-575535a89758.png)

But the context menu is working as expected.

[2018-04-04 07:17] fkhadra commented on #58
Hey @codegeous,

Could you show me a sample of your app ?

Thanks

[2018-04-04 07:37] codegeous commented on #58
I cannot share the complete app right now. So here is the GIST for the code that i use.

[https://gist.github.com/codegeous/2709aecf50f0adeb2adc3a223ffc6b8b](https://gist.github.com/codegeous/2709aecf50f0adeb2adc3a223ffc6b8b)

[2018-04-08 13:37] isrplo opened #59 "Need help to integrate contextify with react d3-tree"
Hi There,
I'm not sure this is the correct place to ask for help, sorry in advance if it isn't.
I am new to React, so sorry for the crudity...
I am trying to integrate the contextify with react d3-tree component (which basically draws a tree).
I would like to couple the menu item to the tree node, while I am standing over it.
the problem is that I don't have explicit accsess to tree elements. what

[2018-04-09 08:03] fkhadra commented on #59
Hey @isrplo,

It's an interesting use case you have here. Could you share a snippet on codesanbox or even a repo ?

[2018-04-09 08:25] fkhadra commented on #59
Thanks for the quick reply, i'll have a look asap.

[2018-04-09 12:16] fkhadra commented on #59
Hey @isrplo,

Could you check this sample and tell me if it's what you are looking for?

[![Edit 9j3r2oxnmo](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/9j3r2oxnmo)

Thanks

[2018-04-09 12:30] isrplo commented on #59
Hi,
Not quite,
I would like to know over which node the menu was called, so the onClick callback would implement different logic based on that tree node.

Thanks!

[2018-04-09 12:52] isrplo commented on #59
oh, scratch my last comment! I just had to add data to ContextMenuProvider! it works a treat now!

Thanks so much for your help!

[2018-04-09 12:52] fkhadra commented on #59
@isrplo I updated the code. You can pass props to the `ContextMenuProvider`. I passed down a random id. What you could do is to add an id to your data and pass the id down like:

[code]
[![Edit 9j3r2oxnmo](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/9j3r2oxnmo)

[2018-04-09 12:52] fkhadra commented on #59
Good timing 😁

[2018-04-09 13:30] isrplo commented on #59
indeed :)
Thanks again!

[2018-04-09 13:37] #59 closed

[2018-04-11 15:30] ricardojrgpimentel commented on #58
Im getting the same problem

[2018-04-16 10:04] MadeoIT commented on #58
Same problem here

[2018-04-16 10:09] fkhadra commented on #58
I tried with the gist above but it works in my case. @MadeoIT can you share the code in your case ?

Thanks

[2018-04-16 11:34] MadeoIT commented on #58
Looks like it this error appears only in certain cases. I will look more into it and let you know

[2018-04-22 12:32] OlegPinchuk opened #60 "Warning: Unknown prop `render` on <li> tag. Remove this prop from the element"
Hi, I got strange warning, may be i use wrong implementation or something else. Please check.
my code:

[code]

[2018-04-22 18:35] fkhadra commented on #60
Hello @OlegPinchuk,

The `ContextMenuProvider` render a div tag by default. With your implementation, your dom will look like this:

[code]

You have two choices to solve your problem.

1- Use a render props:
[code]

2-Change the default render tag:
[code]

You can even pass a custom component to the component props if you want to. I guess in your case it is best to stick with the second choice bu

[2018-04-23 11:30] OlegPinchuk commented on #60
@fkhadra Yeah, thanks a lot ! I hope it will help)

[2018-04-23 11:43] OlegPinchuk commented on #60
@fkhadra 1st point works well!

[2018-04-23 11:44] #60 closed

[2018-04-23 11:52] fkhadra commented on #60
@OlegPinchuk Perfect!

[2018-04-27 10:43] misantronic opened #61 "Allow undefined or null values in `ContextMenu`"
It would be really useful to have undefined or null-values in the `ContextMenu` because of certain conditions you don't want to display a `ContextMenuItem`.

[2018-04-27 12:02] misantronic opened #63 "Add anchor-element to align context-menu to"
It would be really nice to tell the `ContextMenuProvider` that the position where the context-menu opens is not the mouse but the actual element which is provided to the `ContextMenuProvider`.
And then a position would be cool like `top`, `bottom` etc.

[2018-04-27 14:09] misantronic commented on #63
Here is a suggestion:
https://github.com/fkhadra/react-contexify/pull/64

[2018-05-09 17:20] mjohnson290 opened #65 "Warning: Unknown prop `render` on <i> tag."
I've seen this issue reported on #60 but after trying the two methods to remedy it I've come up short.

Basically the goal is to have a single <i> element as the context trigger.

I've tried
- passing in a "i" as a component prop and applying className to the ContextMenuProvider for my desired <i> styles
- creating a custom component (just a <div> to hold it) and passing it under the component pro

[2018-05-11 11:56] AlanAdmin commented on #65
I have the same question. The 2 methods in #60 I have already tried didn't work yet.

[2018-05-11 17:56] fkhadra commented on #65
Hello,

Sorry for the late reply. I tried to reproduce your issue without success. The sample work as expected:
[![Edit lpj0qmm647](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/lpj0qmm647)

Could you tell me exactly what error do you have?

Thanks

[2018-05-14 08:38] marjo688 commented on #60
Hi!
I have the same issue as @OlegPinchuk, only difference being the warning references a <div> instead of a <li> element. I have tried your solutions proposed in this issue but the warning remains.

My code, with your solution implemented (2), looks as follows:

`    render() {

        const listItems = this.state.noteArray.map((note, i) =>

            <ContextMenuProvider id="menu_id" componen

[2018-05-14 08:39] marjo688 commented on #60
Realised I referenced the elements a bit silly. To clarify the error references a div instead of a li element!

[2018-05-18 05:51] priyadarshy commented on #58
I am having the same issue when I render things in a loop.

[2018-05-18 11:33] marjo688 commented on #65
Late input, but the reason I got the warning because my project were using React 15. Upgrading to 16 fixed the issue.

[2018-05-18 13:45] fkhadra commented on #65
Thank you @marjo688 for the information.

[2018-05-18 13:49] fkhadra commented on #58
Hello @priyadarshy,

Is your contextmenu id unique ?

[2018-05-25 01:57] kunokdev commented on #58
I had this error and by making id's unique it would be gone.

[2018-05-25 14:57] chriscordi commented on #58
@fkhadra I think a better proposed fix than setting unique ids is to have a chunk of demo code that shows using a single ContextMenu that is added to the page _outside_  of the loop, with the only ContextMenuProviders being created on a per-element basis and having the unique part being instead passed in with the Provider's data prop.

[2018-05-25 15:10] fkhadra commented on #58
Thanks for the feedback. @chriscordi if you have time to make a demo on codesandbox don't hesitate to submit a PR with the url, so I can add it to the documentation

[2018-05-25 15:10] #58 closed

[2018-05-27 06:57] sergeymild opened #67 "Nested ContextMenuProvider"
[code]

Then i did this, and clicked on File i have an error `Cannot read property 'offsetWidth' of null`
How to make different menus for Home and nested list items?

[2018-06-01 10:28] C3PablO commented on #16
this still not working in Safari if you right-click using ctrl + trackpad-click. I can reproduce it on the demo page

[2018-06-01 11:43] C3PablO commented on #16
Is the same issue that Firefox had before but in this case e.button === 0 instead 2 so it doesn't enter the conditional to not close the menu

[2018-06-04 11:17] fkhadra commented on #67
Hello @sergeymild ,

Sorry for the late reply, could you put a sample on codesanbox please?

Thanks

[2018-06-04 11:18] fkhadra commented on #65
@mjohnson290 did you try to upgrade react like @marjo688 suggested?

[2018-06-04 11:18] #61 closed

[2018-06-12 12:44] hb-bobo opened #69 "Incorrect hide in ContextMenu.js"
When the parent component continues to render, every render will cause the menu to be reappend and   re-remove.

### My current practice
withProxy.js
[code]
### Browser return button hide
ContextMenu.js

[code]

[2018-06-26 06:47] #69 closed

[2018-07-06 14:18] jkeruzec opened #72 "Event is not registered. Did you forgot to bind the event ?"
Hello,
I'm trying to make context menu work but I have some issue when I right click on my text that should display the context menu :
`js <display::menu> Event is not registered. Did you forgot to bind the event ?`

[code]

I'm using it with react-sortable-tree to add a contextual menu on my items...

Thanks !

[2018-07-08 10:47] fkhadra commented on #72
Hello @jkeruzec,

Could you share your snippet on code sandbox please? So I can help you.

Thanks

[2018-07-09 07:21] jkeruzec commented on #72
Hello @fkhadra,
Thanks for your answer, I just created a codesandbox for you to test the issue :
[https://codesandbox.io/s/7oj4v5747j](https://codesandbox.io/s/7oj4v5747j)

You just have to right click on the text "Chicken" or "Egg" to trigger the problem... demo.js file.

On the console :
`<display::menu> Event is not registered. Did you forgot to bind the event ? `

[2018-07-09 07:40] fkhadra commented on #72
Hey @jkeruzec,

I forked your sample here: [![Edit yw6zwjz2zv](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/yw6zwjz2zv)

You'll notice that I rendered the `ContextMenu` after the `SortableTree` Component.

In your case, for each tree element you where rendering a `ContextMenu`. ContextMenu needs to be unique which was not the case with your implementation.

Ple

[2018-07-09 07:57] jkeruzec commented on #72
Ok clever see!, I already tried it in my implementation to add unique id for menu but I was mistaken by a wrong z-index .... !!

Thanks your lighting fast help :)

[2018-07-09 07:57] #72 closed

[2018-07-11 13:19] GersonDias opened #73 "How to use react-contexify with react-intl?"
Hello!

Since the component is appended to the body, it lives outside the boundary of IntlProvider or any other "provider-ish" like react-redux provider or react-router... so, what is the best way to provide internationalization features to react-contexify?

![image](https://user-images.githubusercontent.com/1994582/42573892-9a97cbfc-851d-11e8-92c3-5590f7806ba0.png)

[2018-07-23 03:33] cmcgdd commented on #67
I believe I'm having the same issue and threw together a quick codesandbox to demonstrate. https://codesandbox.io/s/l5mlywrk67

Seems like you can't make a container with a context menu have childre nwith a different context menu.

[2018-07-25 08:43] muwednesday opened #74 "Add a ContextMenu on Google Map Polygon"
Hello, I have learning on Google Map APIs and want to add a a contextmenu in drawing polygons using React. Since the polygon does not exist utill user finish drawing it, I don't know how to handle this problem, I would appricate if you could help me.
I need to bind a rightclick event in Google Map DrawingManager's onPolygonComplete event, in this funtion:
[code]

[2018-07-25 11:33] fkhadra commented on #74
Hello @muwednesday,

May I ask you to put a sample on codesanbox ?

Thanks

[2018-07-25 12:01] fkhadra commented on #73
Hello @GersonDias,

I'm not familiar with react-intl, I took a look at the documentation. I tried to make something but I failed. I'll try later if I can free more time. Did you try to google something like react portal react-intl ?

[2018-07-25 12:08] fkhadra commented on #67
Hello,

Thanks for the sandbox. I think there is an issue in my `ContextMenuProvider` implementation. I'll put it on my todo list.

[2018-07-25 13:08] fkhadra commented on #67
Hello @sergeymild, @cmcgdd,

Here is a working sample: [![Edit xz39pwv06q](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/xz39pwv06q)

By default, the `ContextMenuProvider` use a div, I replaced the `div` with a `p` tag so the content don't take the whole line.

[2018-07-25 13:08] #67 closed

[2018-07-26 04:48] muwednesday commented on #74
Thanks for replying. [Here is the link](https://codesandbox.io/s/zwxmkxz66x).
You can draw a polygon using the drawingmanager from top_center of the map. I want the contextmenu only tiggering in the polygon.
![image](https://user-images.githubusercontent.com/34086410/43242191-20b1c5c0-90d2-11e8-8a35-e19f30a15005.png)

[2018-08-17 23:10] rebirthtobi commented on #56
@fkhadra I'm also in need of this feature, dynamic open and closing of the context menu and do nothing when menu item is clicked

[2018-08-21 12:55] gokcan opened #76 "Usage of componentWillReceiveProps() is unsafe, results in empty render."
Hi @fkhadra,

Unconditionally calling `this.removeFromBody()`  and ` this.appendToBody(this.props)` on `componentWillReceiveProps()` results inconsistent behavior on List items.

https://github.com/fkhadra/react-contexify/blob/20be6cad773d5ee251add45cfb0ed00d30c98bff/src/util/withProxy.js#L16

This can be easily solved with:

[code]

Let me know if you agree on this, I can send a PR.

[2018-08-21 14:40] fkhadra commented on #76
Hey @gokcan,

Would appreciate if you can work on a PR. I'm busy updating all the dependencies for the moment.

[2018-08-22 12:25] venkatark81 opened #78 "Unknown prop `render` on <div> tag. Remove this prop from the element."
Hi, I am getting this warning and context menu is not working. Can you please check below code and suggest what I'm missing. I have tried with `component = "div"` and without it as well. Also, I have tried the two methods suggested in #60 but it didn't work.

[code]

[2018-08-22 12:51] venkatark81 commented on #78
As someone suggested I have upgraded React from 15 to 16. Now, warning disappeared but I don't get context menu on right click. Nothing happens.

[2018-09-12 10:56] Khyzz opened #79 "ContextMenuProvider and other component handlers used together"
Hello,

I'm using a timeline React component that already handle the context menu events in a good way.

[code]

The fact is that I need theses handler's arguments, so I need my context menu to trigger thanks to the Timeline component.

Here is the problem : react-contexify needs a contextmenuProvider to trigger and the event it gets isn't the one I'd like to have. But I still need this ContextMen

[2018-09-12 16:08] fkhadra commented on #79
Hello @Khyzz,

You can define which event  should trigger the contextMenu see [here](https://github.com/fkhadra/react-contexify#contextmenuprovider).

Is it what your are looking for ?

[2018-09-13 07:48] Khyzz commented on #79
Well, I'd like this but with an always `true` event then.

[2018-09-13 07:59] fkhadra commented on #79
Hey,

Could you create a codesanbox so I can help ?

Thanks.

[2018-09-13 08:55] Khyzz commented on #79
So,

Here is a sandbox https://codesandbox.io/embed/9l6rx3jxmp. I hope it will make it clear.

Thanks for your reactivity.

[2018-09-13 14:09] fkhadra commented on #79
I understand now what you are trying to do. I think that with the current implementation is not feasible. I should expose something to trigger the contextmenu without using the provider. Let me think about it and I'll be back to you.
I also need to upgrade the library so it will be a good opportunity.

[2018-09-13 14:11] Khyzz commented on #79
Alright thanks a lot for your attention and for this plugin.

[2018-09-14 17:35] fkhadra commented on #74
Hello @muwednesday,

I don't know if you are still looking for a context menu to use with google map polygon. Anyway, I'm working on the next version.
It will be easier to integrate the contextmenu.

[2018-09-19 18:40] rivertam opened #81 "Using refs instead of ids"
Hey, so I see that ids are currently mandatory. I think `ref`s can take the place of ids here. Ids are prone to mistakes and have maintainability problems.

Is this something that has been considered?

[2018-10-01 03:52] ticholNyler opened #82 "Get active row from react table"
I had to wrap the entire react table in the context component. There for the ref.props is returning the main react table. I can not seem to figure out how to get the selected row when right clicking. Is this possible as the component is written?

[2018-10-01 07:30] fkhadra commented on #82
Hey @ticholNyler,

I'm planning to release a new version of react-contexify this week. It will be easier to integrate.

[2018-10-14 23:50] charlot567 commented on #2
Do you have any example on how to trigger the context menu on left click? @fkhadra

[2018-10-16 02:01] SharpStaff opened #83 "When state changed on onContextMenu event, menu does not appear anymore"
Hi,

We are using 3.0.3 and have a problem with state change.

When we created the example from following link menu does not appear. https://github.com/fkhadra/react-contexify/issues/3#issuecomment-281171497

Regards.

[2018-10-17 02:33] charlot567 opened #84 "Left click to trigger the menu"
Hi,

Can you give us an example on how to trigger the context menu with a left click ?

Thanks !

[2018-10-19 02:35] #83 closed

[2018-10-24 19:41] pniedzwiedzinski opened #85 "Webpack error"
An error occurs when I bundling with webpack
[code]

[2018-10-25 11:12] fkhadra commented on #85
Hey @butterfly-pn,

It's related to webpack, you need to use the style-loader and the css-loader. If you bootstrap an app with create-react-app, it should work out of the box.

[2018-10-25 11:16] fkhadra commented on #84
Hey @charlot567,

For the version 3

[code]
I also published the v4-rc1 yesterday if you want to have a look. You can check the new documentation [here](https://fkhadra.github.io/react-contexify/). If the documentation site is not working properly it's probably due to the service worker.

You should see something like below
<img width="896" alt="screenshot 2018-10-25 at 13 15 34" src="https://user

[2018-10-25 11:17] fkhadra commented on #82
Hey @ticholNyler,

I released the v4-rc1. I introduced a new api to give more control.

[2018-10-25 11:18] fkhadra commented on #81
Hey @rivertam,

The v4-rc is here. I still don't support the refs but it's in my todolist.

[2018-10-25 11:20] fkhadra commented on #79
Hey @Khyzz,

I released the v4-rc1. You have now the possibility to do something like:

[code]

You can find a sample with a canvas [here](https://fkhadra.github.io/react-contexify/you-dont-need-the-menu-provider)

[2018-10-25 11:21] fkhadra commented on #76
Hey @gokcan,

The v4 remove the proxy and use `react.portal` instead.

[2018-10-25 11:21] #76 closed

[2018-10-25 15:43] joncursi opened #86 "[v4-rc1]: Unexpected token export"
I get the following error when using v4 inside next.js:

[code]

[2018-10-25 16:19] fkhadra commented on #86
It is due to the fact that I don't transpile the import and export statement.
I'll push a new RC as soon as I get access to my  computer.
Thanks for reporting the issue.

[2018-10-26 07:18] fkhadra commented on #86
Hey @joncursi,

I pushed a new rc. Are you using create-react-app or something else? Could you share your setup ?

Thanks.

[2018-10-26 20:54] butterfly-pn commented on #85
Could you please send me an example of webpack configuration? I just can't make it work 😩

[2018-10-27 15:32] charlot567 commented on #84
@fkhadra Thanks !

[2018-10-27 15:32] #84 closed

[2018-10-29 07:20] omkar-joshi commented on #82
The `ContextMenu` API is awesome @fkhadra. Thanks!

[2018-10-29 09:02] fkhadra commented on #82
Thanks @omkar-joshi for the feedback. I'll probably publish the stable release this week.

[2018-10-29 09:53] gokusanSK opened #87 "Rename Component in Doc"
When i am using this library according to doc it says to use ContextMenuProvider but in defination the exported module name in MenuProvider similarly with ContextMenu->Menu

[2018-10-29 09:59] fkhadra commented on #87
Hello @gokusanSK,

You are using the v4, it's a release candidate. You can find the doc [here](https://fkhadra.github.io/). If you see the old site you probably need to clean the service worker(I still need to fix this issue.).

You should see something like the screenshot below. Please let me know if you have any issue.
![2018-10-29_10-58-58](https://user-images.githubusercontent.com/5574267/4764

[2018-10-30 12:31] itjayaprakash opened #88 "Accesbility is not working ?"
I need to handle onclick event using  keyboard  enter to   show the MenuProvider

[code]

[2018-10-31 20:16] fkhadra opened #89 "Upload asset"
<img width="645" alt="screenshot 2018-10-31 at 13 32 57" src="https://user-images.githubusercontent.com/5574267/47815610-1806fa00-dd51-11e8-981b-2f680244ae29.png">

[2018-10-31 20:16] #89 closed

[2018-10-31 21:00] #86 closed

[2018-10-31 21:00] #87 closed

[2018-10-31 21:01] #74 closed

[2018-11-07 18:23] jipis opened #90 "Disable menus on child component"
Is it possible to disable the contexify menu completely on a particular child (grandchild) of the `CentextMenuProvider` block? I'm trying to have the menu pop on a particular div and not pop at all on a deeply-nested div within that top div. Is this possible?

[2018-11-08 02:56] tizz98 commented on #24
@fkhadra can I give this a go if you haven't started working on it yet?

[2018-11-08 08:58] fkhadra commented on #24
Hey @tizz98, sure it would be my pleasure!

[2018-11-08 19:58] evansjohnson opened #91 "Is there any way to not have menu close when clicked?"
In the `onClick` event handler of `Item` I have tried calling `stopPropagation` and `preventDefault` on the event and the menu still closes.

I see [here](https://github.com/fkhadra/react-contexify/blob/c0f6fb8f5d20d5404e51f12d9337c4284cf397a7/src/components/Menu.tsx#L90) that a `mousedown` event is bound to `window` as well as `onClick` - a guess is that I am preventing the `onClick` event from c

[2018-11-08 20:14] evansjohnson commented on #91
Tried removing the line that attaches the mousedown listener to window and that didn't work.  Any ideas you have on this would be greatly appreciated!

[2018-11-09 12:01] fkhadra commented on #91
With the current implementation is not possible. However, it's easy to implement, all I need to do is to stop propagation on the synthetic event. This is what I do for the disabled Item [here](https://github.com/fkhadra/react-contexify/blob/c0f6fb8f5d20d5404e51f12d9337c4284cf397a7/src/components/Item.tsx#L77) .

[2018-11-12 16:42] evansjohnson commented on #91
Awesome, thanks for pointing that out, up to you if you think this use case is general enough to support here - ill probably just throw an extra prop for that in on my fork for now.

[2018-11-27 21:47] djdaniels90 opened #92 "OnClick handler does not get triggered"
editing this, accidentally pressed enter and it created issue prematurely

[2018-11-27 22:47] djdaniels90 commented on #92
Figured this out as I was creating a slimmed down version of my use case.  Had a MaterialUI ClickAwayListener that was jacking the click event from the context menu.

[2018-11-27 22:47] #92 closed

[2018-12-04 17:21] tewk opened #95 "onHide and onShow events for Menu"
Background:
I have a custom modal editor that uses a window scope keyboard event handler.

Feature request:
I want to remove the window scope keyboard event handler when a context menu is shown, and reinstate the window scope keyboard handler when the context menu hides.

I believe if onShow and onHide props where implemented this would be possible.

[2018-12-14 11:38] hb-bobo commented on #95
onShow：You can use ContextMenu.show;

`contextMenu.show({
      id: 'menu_id',
      event: e,
      props: {
        msg: 'hello'
      }
    });`

[2018-12-14 11:41] hb-bobo opened #96 "[ts] Property 'show' does not exist on type 'typeof ContextMenu'."
'show' does not exist in interface IContextMenu in index.d.ts

[2018-12-14 11:55] #96 closed

[2018-12-16 02:49] yanielbf opened #97 "No access to data in submenu items."
Hello, I am used this component. I have a problem with nested item. I have no access to properties inside items of submenu. I am used contextMenu.show to pass props. How solve this problem???. Regards

[2018-12-18 22:12] sli commented on #97
I'm having basically the same problem. The docs say that the data prop on a MenuProvider is passed to the Item onClick callback, but that doesn't seem to be true. My onClick handlers don't get anything in the props key.

[2018-12-20 10:10] ILovePing commented on #97
same problem

[2018-12-21 14:48] yanielbf commented on #97
Thank you for quickly answering my question. Below I explain my problem using the same example of the component documentation. The problem is that in the click event of the submenu elements the variable props is null. The `foo` property can not be accessed from there.
For the rest I consider that the component is very good and works perfectly. Thanks for the help. Regards

[code]

[2018-12-24 08:18] senro commented on #97
same problem...

[2018-12-24 10:11] rajutanniru44 opened #98 "Not able to view submenu when context menu is opened at right edge of screen"
when we open the context menu in right side area of screen in the browser, submenu is not visible .
it is rendered, but not visible on the screen.

i have a solution for that

Solution:
when context menu is opened ,other than right side area of browser,
the below css is applied.

left: 100%;
bottom: 0px;
top: initial;

when we open context menu on right side, below css is applied

left: 100%;
bott

[2018-12-24 13:12] RajuIO commented on #98
Submenu.prototype.componentDidMount = function () {
    var innerWidth = window.innerWidth,
        innerHeight = window.innerHeight;
    var rect = this.menu.getBoundingClientRect();
    var style = {};

    if (rect.right < innerWidth) {
            style.left = '100%';
            style.right = null;
    } else {
            style.right = '100%';
            style.left =null;
    }

    if (rec

[2018-12-31 09:03] #78 closed

[2018-12-31 09:30] fkhadra commented on #98
Hello,

The issue is fixed with the release v4.0.1. Thanks for reporting the issue.

[2018-12-31 09:30] #98 closed

[2018-12-31 09:53] RajuIO commented on #98
thanks for fixing the issue

[2019-01-01 21:16] yanielbf commented on #97
Thank you for pay attention to my request. Good luck!!!

[2019-01-05 09:34] guirenpei opened #100 "can't render contextMenu with this component"
background: antd
when i use react-contexify in antd with Tree Component, i had bugs
[code]
[code]
result:
`Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might have mixed up default and named imports.
Check the render method of CC

[2019-01-11 15:12] jkeruzec commented on #100
Same error here, I look for some solutions wihtout success.

Could you provide some details, or new way to implement context menu ?

[2019-01-14 08:05] jkeruzec opened #101 "Provide a way to do some action when user event is launch (oncontextmenu)"
I'd like to trigger an action before context menu is show to the user.

Is there a way to provide like a callback on the event ?

For instance :
User click context menu provider with contextmenu event => I do some actions => menu is displayed to user.

[2019-01-14 08:11] fkhadra commented on #101
Hello @jkeruzec,

You can use the `contextMenu` helper instead of the `Provider` as show [here](https://fkhadra.github.io/react-contexify/you-dont-need-the-menu-provider)

Is it what you are looking for ?

[2019-01-14 08:38] jkeruzec commented on #101
Hi @fkhadra

Can you provide src code for this example please ?

[2019-01-14 08:49] fkhadra commented on #101
There you go
[![Edit vq5n8vv2x3](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/vq5n8vv2x3)

[2019-01-14 08:53] jkeruzec commented on #101
Thanks, code is only available in version 4.0 ?

[2019-01-14 09:09] fkhadra commented on #101
Yes I introduced the `contextMenu` api with the v4

[2019-01-14 09:10] jkeruzec commented on #101
Great !! I migrate to V4.0.1 and go for controlled context menu.
I can now trigger selection on my tree node using react-sortable-tree while displaying context menu.

Thank you !

[2019-01-14 09:10] #101 closed

[2019-01-14 09:13] jkeruzec commented on #101
@fkhadra Maybe the canvas square thing on the example might be a little disturbing for new comers. A simple text may be easily readable and straightforward :)

[2019-01-14 09:17] jkeruzec commented on #100
I did the migration with success, some main keys are to choose new declarations :

`import { Menu, Item, contextMenu } from 'react-contexify';`

And to follow the steps here :
# Migrate from v3

- `ContextMenu` has been renamed to `Menu`
- `ContextMenuProvider` has been renamed to `MenuProvider`
- The `onClick` callback signature has been simplified. The `data` and the `ref` are merged to props.

[2019-02-12 11:45] baurais commented on #82
@ticholNyler Did you manage to find a work around?

[2019-02-14 16:43] jktravis opened #102 "Are there migration instructions from v3.0.3 to 4.0.0?"
I'm having trouble locating any breaking changes from the above versions. Is there a doc somewhere, and I just can't find it?

[2019-02-18 03:31] crhistianramirez opened #103 "Would it be possible to add identifiers to Items."
We are doing some integration testing and it would be ideal if we could set a `data-test-id` attribute on the Item elements so that our tests can target the elements correctly, or an ID.

We're using `className` at the moment but we'd rather it not be coupled to that in case a designer comes in and wants to update it.

[2019-02-23 20:11] Phault opened #104 "Regression: Nested MenuProviders no longer works"
The issue from #67 has re-emerged. Here's an updated sandbox.
https://codesandbox.io/s/54vkk41wxl

Seems like the fix was lost in the transition to TypeScript.

[2019-02-25 23:35] amitassaraf commented on #104
@Phault Any progress on this? I tried manually applying the fix though it seemed to not help.

[2019-02-26 08:10] Phault commented on #104
@amitassaraf
Yeah, the fix worked for me. My pull request didn't include an updated build though. So you'll have to build react-contexify yourself with the fix, if you didn't already.

[2019-02-26 10:31] fkhadra commented on #104
Hey,

The fix is live. Thanks for the PR

[2019-02-26 10:31] #104 closed

[2019-02-26 10:33] fkhadra commented on #102
Hey @jktravis,

Sure https://fkhadra.github.io/react-contexify/migrate-from-v3

I updated the whole documentation.

[2019-02-26 10:33] #102 closed

[2019-02-26 10:37] fkhadra commented on #103
Hello @crhistianramirez,

Sounds like a good idea to accept id or a data attribute. Do you want to work on it ? The change is trivial.

[2019-02-26 10:38] fkhadra commented on #100
Hello,

Sorry for the late reply. @jkeruzec thank you for sharing the solution.

[2019-02-26 10:38] #100 closed

[2019-02-27 03:59] mindey opened #106 "Filter Drop-Down Lookup Options"
Can we have the text input field at the top of the context-menu, which allows to filter the drop-down select options?

It would be useful, when the number of options in the context-menu is large.

[2019-04-10 14:38] marcusbrose opened #108 "Check disabled in Item.render()"
Caching the `disabled` value to a variable on init / click is not a good idea in my opinion. Just check it in the `render()` method and let React decide what to update.

In the current implementation Items do not update when the `disabled`-prop is changing while the context menu is open. Any logic should be outside the component and be injected.
https://github.com/fkhadra/react-contexify/blob/0cdd

[2019-04-18 07:20] m3rg opened #109 "Context Menu with Material-UI Tooltip not working"
It looks like context menu is not working with Material-UI's tooltip component. When focused, context menu is collapsed.

[code]

[2019-04-18 11:20] m3rg commented on #109
I think the problem is related with react-intl. It throws the following error:
`Invariant Violation: [React Intl] Could not find required `intl` object. <IntlProvider> needs to exist in the component ancestry.`

[2019-04-18 11:20] #109 closed

[2019-04-25 07:42] trannamquan commented on #108
Same issue found here. The prop passed to disabled function did not update when changing while the context menu is open.

[2019-04-25 12:55] adamlibusa opened #110 "Open menu without clicking"
I want to programmatically open the menu on component load. I can call `contextMenu.show()`, but it requires an event. Right, I am trying something like this, for a menu to open at the right bottom corner of my element:

[code]

but the menu opens at unexpected places on the screen. Is there a way to omit passing the event altogether and instead pass coordinates? Do you have any tips for this use

[2019-04-25 13:26] adamlibusa commented on #110
In the end, only a small change was necessary:
[code]

[2019-04-25 13:26] #110 closed

[2019-04-26 10:08] shiny commented on #48
Any progress on this feature?

[2019-04-30 22:41] torchsmith opened #111 "CTRL+Left Click"
When ever I use control+left click (using a macbook trackpad), the menu appears, but instantly disappears.

Wondering if I could get some help with the problem, or if there is a solution.

[2019-05-01 09:47] ronen commented on #46
In case anyone's interested, I was able to implement conditional rendering with the current API, it came out pretty clean (IMHO).  Here's a sketch:

[code]

I'm using react-redux, so I wrap that in a `connect(mapStateToProps)` for the menu to depend on the app state, and for the click handlers to be able to `dispatch()`

Invoke the context menu with a ref:

[code]

This has the nice side-effect (I

[2019-05-07 10:12] finetjul opened #112 "Add icon to submenus"
For some reason, there is no way to give icons to submenus. It would be a great feature. Thanks

[2019-05-14 04:37] navono commented on #112
[code]

example from https://fkhadra.github.io/react-contexify/api/iconfont

[2019-05-14 07:03] finetjul commented on #112
@navono, thanks for your answer. However, what you show is an icon for an Item.
What I suggest is an icon for a submenu.

[2019-05-16 00:59] jktravis opened #113 "Receiving "Function components cannot be given refs." warning"
I'm changing a component that was being wrapped by `MenuProvider` to a function component, and am getting this warning.

It still seems to work, however.

I didn't see an existing issue for it.

[2019-05-17 19:50] fkhadra commented on #46
Hello @ronen,

Your implementation is 👌. I'll close the issue.

[2019-05-17 19:50] #46 closed

[2019-05-17 19:51] fkhadra commented on #48
@shiny not at all.Too busy 😭. Wanna make a PR ?

[2019-05-17 19:52] #56 closed

[2019-05-17 19:53] #73 closed

[2019-05-17 19:54] #65 closed

[2019-05-21 20:53] subwaymatch commented on #58
@chriscordi Had the same issue while creating context menus within a loop. Thanks for pointing out the issue. Saved a hell lot of time :)

[2019-05-26 01:01] torchsmith commented on #111
Turns out that the reason for it disappearing is that when pressing `CTRL+Left Click`, it triggers context menu, but when letting go of the `Left Mouse Button` it triggers the `Click` event which then closes the context menu.

[2019-05-26 01:04] torchsmith commented on #111
It looks like it works correctly in the example project. I'm going to take a closer look into the scenario I have.

[2019-05-26 01:11] torchsmith commented on #111
Found the problem, not related to the source code of this repo.

[2019-05-26 01:11] #111 closed

[2019-06-01 02:33] KthProg opened #115 "Cannot read property 'offsetWidth' of undefined"
Apparently this will happen when you don't make the id unique for each menu. A more helpful error would be cool.

[2019-06-02 15:00] YiRancn commented on #113
dont direct contain componet,    must contain Native HTML elements

[2019-06-10 17:16] jacobclearmetal opened #117 "Documentation Demo does not render in IE11"
Live [demo](https://fkhadra.github.io/react-contexify/) is not rendering in a Windows 7 IE 11 browser via [Browserstack](https://browserstack.com).

Appears `entries` is being utilized, which is [not supported in IE](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/entries#Browser_compatibility).

![contextBug](https://user-images.githubusercontent.com/429770

[2019-06-20 13:55] xaoc2nd opened #118 "One context per <tr></tr>"
Hello,

Your components are realy useful but I can't manage to use it with a table for each row.

I can use it with the whole table and right click everywhere on the table but what I want to do is to click on a row and printing a different context depending on the row.

Is it possible?

Thanks a lot

[2019-06-27 14:41] KirillSuhodolov commented on #115
I got this error even one menu item and provider at app

[2019-07-04 07:43] perry-mitchell opened #119 "Hundreds of <div></div> created in DOM when menu used"
For some reason after adding a new menu, I see hundreds of empty divs in the DOM:

![image](https://user-images.githubusercontent.com/3869469/60648252-37a67300-9e48-11e9-98ee-25b3c35748b7.png)

This is a performance concern - the divs should not be present. I am creating a menu per item in a table, so iteration here is creating a lot of menu instances.

Not sure if the div has something to do with

[2019-07-04 09:06] perry-mitchell commented on #85
@pniedzwiedzinski You're excluding node_modules in your config - That's where you're trying to import from, so I would remove the exclude line.

[2019-07-12 04:39] gorbs commented on #112
[code]

[2019-07-23 19:52] jerrythimothyj commented on #72
@fkhadra , I am facing this issue `<DISPLAY_var_20> Event is not registered. Did you forgot to bind the event ?`

I am dynamically adding an element which contains Menu component inside it. I am passing id like this `<Menu id={menuId}>` which is always unique like a key.

If I inspect via React console, everything seems same as the already generated elements.

But, when I click try to open the con

[2019-07-25 23:43] Kinark commented on #97
Any updates on this?

[2019-07-25 23:48] Kinark opened #122 "MenuProvider data not passed to Submenu"
I don't know if this is a duplicate of #97, but I can't have access to the `MenuProvider` `data` when I click on a `Submenu`.

I hope it's not a duplicate.

[2019-07-29 03:26] ngoctigerstyle commented on #72
@jerrythimothyj : i have same problem.

[2019-07-29 06:49] fkhadra commented on #122
Hello @Kinark,

Do you mind to create a codesandbox with the issue ?

Thanks

[2019-07-29 06:50] fkhadra commented on #119
Hello @perry-mitchell,

Thanks for reporting the issue. May I ask you to create a codesanbox with the issue ?

Thanks

[2019-08-01 23:07] jesus-hernandezmoreno opened #123 "Integrate with Google Mpas marker right click event"
Hi! I'm trying to integrate the contex menu on the rightclick event, it calls the function but nothing renders.
Instead of passing the whole event from map I'm just passing the event.wa tha contains all the MouseEvente info.

[2019-08-06 10:19] asafron commented on #123
@jesus-hernandezmoreno I'm able to show the menu when the user right click on a marker, using the following code:

[code]

B-U-T, sometimes the mouse event is undefined (not passed by Google or by the "react-google-maps" lib I'm using). Still can't figure it out.

[2019-08-09 19:44] rbudnar opened #124 "Menu doesn't close when scrolling in a scroll container"
Hi!

I've got a right click menu set up on various elements in a scrollable container (not the window) and I noticed that when I scroll, the menu does not close or move with the item.

Example: https://codesandbox.io/s/great-banzai-72nni?fontsize=14
(Right click the green area, then scroll down using the mouse wheel - chrome 75 on windows)

Looks like a scroll handler is bound to the window direct

[2019-09-19 00:31] inovramadani opened #127 "Add scroll functionality for menu items"
@fkhadra I have submenu that showing a long list of menu items, thus need scroll function on the context menu. How can we achieve this?

I tried to add overflow property on the class below but can't get it work.
[code]
I think worth also to add this feature for the library.

[2019-09-19 00:53] inovramadani commented on #127
If I set value of overflow to scroll I can get sth like below, but can't scroll.

![image](https://user-images.githubusercontent.com/27492820/65200812-83b19d00-dab2-11e9-9de5-9c7a5a009f39.png)

[2019-09-19 01:06] inovramadani commented on #127
I found the solution, forgot to set max-height on the submenu container before.

[2019-09-19 01:06] #127 closed

[2019-09-19 01:09] inovramadani opened #128 "New feature to set custom arrow submenu icon"
Right now we have something like this for submenu:
![image](https://user-images.githubusercontent.com/27492820/65202547-a644b580-dab4-11e9-9acc-faab37169380.png)

I think it's nice if user can specify custom arrow for submenu through props.

[2019-10-02 14:23] nara007 commented on #72
@jerrythimothyj @ngoctigerstyle   take an table as an example,   you can create one MenuProvider instance for each row, when you right click on each row, a menu will be shown. **However, you are allowed to create only one Menu instance,  all rows share the instance**

<Table>
{ create table row,  bind MenuProvider(id== 'menu_id')to each row }
</Table>
<MyAwesomeMenu id='menu_id'>

[2019-10-24 15:28] dpren commented on #128
Can't you just override the CSS?

[code]

[2019-10-24 16:11] dpren commented on #118
Yes please. Currently, I believe the only way is to conditionally id a separate Menu for every condition, or do some refs hack.

Could we have `<Menu/>` expose a render prop like this?

[code]

[2019-11-09 09:27] jumpinjackie opened #129 "No type definitions (.d.ts files)"
Your npm package does not have any `.d.ts` files even though your `tsconfig.json` has [declaration: true](https://github.com/fkhadra/react-contexify/blob/master/tsconfig.json#L13)

It means typescript projects consuming this package have no "intellisense"

[2019-11-18 12:24] wlds opened #130 "When I use the onRightClick method, clicking on the space between the tree child nodes also brings up the menu"
When I use the onRightClick method, clicking on the space between the tree child nodes also brings up the menu, but no event is triggered.

[2019-11-18 12:51] jumpinjackie commented on #129
Ok, I installed the wrong package. I installed react-contextify (note the extra 't'), which is this repo: https://github.com/galkinrost/react-contextify

Other might get confused like I did, might want to point this out in the readme somewhere.

[2019-11-18 12:51] #129 closed

[2019-11-21 02:20] wlds commented on #130
hi?

[2019-11-27 17:38] hajnalben opened #131 "Conditional Item by contextMenu props"
Hi!

You may consider adding something like ConditionalItem or canShow prop to Item to be able to dynamically show hide Menu Items.

I use a workaround however this feature could be built into your library:
[code]

[code]

[2019-11-30 07:58] ronaklalwaniii commented on #113
Hello, I am also facing the same warning. What's the fix?

[2019-12-04 02:06] rafaponieman opened #132 "Props not passed when Items inside intermediary component"
Hi! While running similar code to the following, I find that, when Item is placed inside a fragment, or inside of another component that goes into Menu, the click event received by the handler is undefined, and the props aren't passed on.

[code]

[2020-01-12 14:16] ymoran00 commented on #132
Happens to me to. Something broke in the latest versions - it used to works.
It seems the when Item is created, for the inner items, props.propsFromTrigger isn't passed.

[2020-01-20 18:07] NoobDay commented on #131
I did that by redux
Example :
[code]

[2020-01-22 08:07] KevinDenys commented on #115
I also can't get it working

[2020-01-26 20:25] #85 closed

[2020-01-28 15:59] Winangel commented on #115
same issue here, don't know why but the setRef is never called in the Menu item

[2020-02-18 15:31] KfirAlfa commented on #113
Any news about that? I am facing the same problem.

[2020-02-18 16:30] jktravis commented on #113
I think I either just implemented the [forwardRef](https://reactjs.org/docs/forwarding-refs.html) on my non-standard component or wrapped it in a <div> or something.

[2020-03-16 23:51] jmca commented on #113
You could use a fragment in a pinch, that's what I'm currently doing:
[code]

[2020-03-18 07:15] MonkeyJumps opened #135 "how to pass relative data to menu when an item is clicked?"
I have a list of items that i want to right click on and when a user selects an item from the context menu I need to know from which element that request was triggered. I have the following but I am currently stuck. Can someone provide an example of passing relative data up to the menu when the user right clicks on an element? Do i have to wrap a MenuProvider around each element and if so will tha

[2020-03-20 18:28] diegodebonis opened #136 "Stop Propagation on item click"
Hi im trying to do something like this on a table
[code]
But everytime i click the option the `<tr>` tag fires the click event, is there any way to prevent this?

[2020-03-30 01:45] renato-bohler commented on #113
Apparently setting the `storeRef` prop to `false` also removes the warning.

[code]
---
[code]

[2020-03-31 10:04] NilsKaden opened #137 "does not render inside iframe"
Hi!
React-Contextify seems to be unable to render inside an iframe.
Here's a codesandbox with an example:
https://codesandbox.io/s/sad-bird-9mmyp

[2020-03-31 10:07] #137 closed

[2020-04-06 16:54] humbkr commented on #97
If that can help someone, I had the same issue in version 4.1.1, but it was actually because of issue #132, once I removed the intermediary component it worked fine again.

[2020-04-06 16:56] humbkr commented on #122
Maybe related to #132

[2020-04-10 04:13] rikinshah23 commented on #115
@Winangel I could not understand your solution. could you please paste a sample here?
I am having the same problem. I have only one menu on this page and id is unique to Menu and MenuProvider

[2020-04-10 20:36] Winangel commented on #115
my problem was that I was using the Menu provider method and the contextMenu method alongside. The solution was to use only one method in the whole application (contextMenu in my case).

[2020-04-14 13:58] DusterTheFirst commented on #108
bump. This is an issue with all computed values for items. They only update when the context menu is hidden and then recreated. This is the only workaround i can find.

[code]

[2020-04-24 08:57] fabiobaser opened #138 "Enable mounting in Iframe instead of document per default"
I am working on a react app that is getting rendered inside of an Iframe. (Sounds stupid but it has to be like that). Sadly the ContextMenu always gets appended to the document.body. It would be nice to be able to pass a HTMLNode as a prop where the ContextMenu gets mounted. Semantic-UI-React is using this approach. https://react.semantic-ui.com/modules/modal/

I already bodged a solution for my u

[2020-05-26 08:28] Suibs commented on #138
On the same boat, did you manage to work around the issue?

[2020-05-27 23:34] fabiobaser commented on #138
@Suibs I've included the module as a local module and rewritten the code so the Menu is mounted on a HTMLNode that I referenced on a window variable. I mean it works.

[2020-05-28 08:30] Suibs commented on #138
@fabiobaser that's what I was thinking of doing too. Smart choice!

[2020-06-12 03:58] chuikoffru opened #141 "Incorrect event.clientX in iFrame"
Hello everyone!

Faced with trouble. When I click on `MenuProvider`, which located at iframe, then the context menu shows far from my cursor.

![Screenshot 2020-06-12 at 15 50 53](https://user-images.githubusercontent.com/8284619/84463188-10495e80-acc5-11ea-929e-82f5d917d9e4.png)

`event.clientX` shows `250`, but my cursor was at the center of the page.
The right side is an `iframe`.

[2020-06-14 17:24] oyeanuj opened #142 "Long click / click and hold"
Hi @fkhadra, thank you for creating this excellent library! My use-case is to have a context menu show up on long click / click and hold (and not just a simple click). Is it possible to use /modify this library to do that, similar to the `onClick` mechanism?

[2020-06-14 20:28] Hasan330 commented on #115
Can anyone provide a sample code snippet please? Can't seem to work for me either

[2020-06-23 06:42] bytrix commented on #25
hello, @fkhadra,
is there a demo of that gif image shown on the github page?
[https://user-images.githubusercontent.com/5574267/29753912-43c54008-8b7b-11e7-9627-258fde1ffddd.gif](url)

[2020-06-23 06:54] bytrix commented on #135
same problem, need help!!!!

[2020-06-23 07:10] bytrix commented on #135
my way is to pass onContextMenu props to MenuProvider
`
                    {this.props.taskList.items && this.props.taskList.items.map(item => (
                        <MenuProvider id='task_menu' onContextMenu={e => {
                            this.setState({
                                currentItem: item
                            })
                        }}>

[2020-07-04 19:22] electrek opened #143 "Context menu renders below canvas"
I attempted to reproduce the example with the contextMenu helper, where the context menu renders at the mouse pointer (over the canvas, as desired).  However, the context menu always renders below the canvas.  [Here](https://codesandbox.io/s/hidden-snow-2yccu?file=/src/index.js) is a codesandbox that is basically cut-and-pasted from the [doc example](https://fkhadra.github.io/react-contexify/you-d

[2020-07-04 20:22] electrek commented on #143
Ok, I figured it out.  I didn't have the import "react-contexify/dist/ReactContexify.min.css" statement.

[2020-07-04 20:22] #143 closed

[2020-07-04 20:23] electrek commented on #143
Need to import .css files for menu to be positioned correctly.

import "react-contexify/dist/ReactContexify.min.css";

[2020-07-30 13:59] tijmenvangurp opened #146 "Submenu position"
It might be my ignorance of not know how to set this.

I think this might be UI improvement

current situation:
![image](https://user-images.githubusercontent.com/9990026/88931574-4cd51780-d27d-11ea-9197-7774ff02d5d1.png)
The submenu does not allign
`top: 0px;`

Requested:
![image](https://user-images.githubusercontent.com/9990026/88931708-78580200-d27d-11ea-9af6-41af00b67df1.png)

Submenu item is

[2020-07-30 14:24] tijmenvangurp commented on #146
I was able to fix it by overwriting the css

[code]

[2020-07-30 14:53] tijmenvangurp commented on #128
@dpren Although your solution works, it does not feel like a good solution
![image](https://user-images.githubusercontent.com/9990026/88937810-e5bb6100-d284-11ea-8578-ebd4cbe8777a.png)
Setting the color to transparent still moves the next icon

If the arrow implementation for sub menu can change to use `content :"▶"` then the layout properties would remain correct.

[2020-08-03 13:47] fkhadra commented on #146
Hey would you mind open a PR ?

[2020-08-04 15:00] dpren commented on #128
@tijmenvangurp You're right, it's a hack. I don't mean to argue against first class support.

But note `.react-contexify__submenu-arrow` is absolutely positioned right, so the ::after icon actually pushes the original to the left. So there should be no visible layout difference, right?

Otherwise, you can hide it with font-size:

[code]

[2020-09-10 10:06] 1060910872 opened #149 "The hide of the show() in Menu dosen't work."
A piece of code in the file Menu.js:
_this.show = function (e, props) {
            e.stopPropagation();
            eventManager_1.eventManager.emit(actions_1.HIDE_ALL);
            var _a = _this.getMousePosition(e), x = _a.x, y = _a.y;
            _this.setState({
                visible: true,
                x: x,
                y: y,
                nativeEvent: e,
                propsFrom

[2020-10-05 12:00] temp-noob commented on #72
@nara007  I actually want to achieve the same use case of using a context menu for each table row. I'm new to React. Can you provide a small code snippet that would achieve this?

[2020-10-21 06:01] cyrilzh commented on #132
I got the same problem with react-contexify@4.1.1 when trying to add a context menu to tree control in Antd according to https://github.com/ant-design/ant-design/issues/5151. The problem doesn't occur with react-contexify@4.1.0.

[2020-10-26 02:15] Bilb opened #150 "`this.menuRef` undefined on setMenuPosition"
Hi,
I was using another menu library before but had a few issues with rerendering so I decided to give it a try to react-contexify :) It's working great except for one thing so far.

Usecase is as follow (not sure this is really relevant)
* have a list of items with a `contextMenu` linked (rendered with `contextMenu.show` when needed)
* if I show a menu, and then start to scroll on the container,

[2020-10-26 03:48] Bilb commented on #150
Digging deeper, I found that the setRef was sometimes called two times, once with the correct arg, and once not right after. I think I had a few id being the same and it was causing issues. I moved to generated ids rather than using a mix of the props of the elements and it looks to be ok so far.

[2020-10-26 03:48] #150 closed

[2020-10-26 09:42] mrtronje opened #151 "contextMenu.show doesn't work with onMouseUp Event"
If we use contextMenu.show in combination with onMouseUp event the menu doesn't show up.

Example
[code]
The event onMouseUp gets fired but the contextMenu doesn't show up. If I use `onClick` instead of `onMouseUp` the context menus is shown. Does anyone knows how to get react-contextify work with an `onMouseUp` event?

[2020-11-01 18:46] zlanich commented on #115
This is happening to me as well with either `<MenuProvider />` or `contextMenu`. I haven't yet found a pattern. It just doesn't seem to work for me yet. I will update this if I figure it out.

[2020-11-06 09:16] leefsmp commented on #111
I have the same behavior, @torchsmith do you mind sharing what was the issue on your side? Thanks!

[2020-11-06 12:28] shivampip commented on #141
Hi @chuikoffru , did you find a way to make it work properly in an iframe?

[2020-11-08 11:16] fkhadra commented on #141
Hello guys,
The v5 will be available soon. I'm currently writing the documentation. The beta package is already published to npm. The v5  let you specify a custom dom node to mount the menu. This will be helpful in such case

[2020-11-10 09:21] leefsmp commented on #151
+1 - It works on my mac book pro but when testing on windows it doesn't work.

[2020-11-12 09:47] doanhuyc commented on #136
i have the same issue here, anyone please help.

[2020-11-13 09:58] #95 closed

[2020-11-13 09:58] #90 closed

[2020-11-13 09:59] #81 closed

[2020-11-13 10:02] fkhadra commented on #136
This feature will land in v5. You can follow the PR [here](https://github.com/fkhadra/react-contexify/pull/152). I'm reworking the doc right now. I'll do my best to publish this new version this week.

[2020-11-14 11:16] exapsy opened #153 "Is there custom theme support?"
Is there a way to add custom theming? The docs do not clarify the if's and how's. I expect it to be possible if done via overriding CSS rules though, it's just not clarified if that's how you're supposed to theme it in the docs.

[2020-11-14 14:55] exapsy commented on #153
I took a look at the code, and there's `className` as prop in `Menu`. But probably there should be an example, with the classes used and how exactly you can customize each element.

[2020-11-14 21:12] nextglabs opened #154 "Use custom menu"
Is there a way to use a custom menu (for instance MaterialUI `<List />` or `<Menu />` component) instead of the default <Menu /> shipped with `react-contexify`?

[2020-11-16 23:11] Bilb opened #155 "Event not bound"
Hi
I found a few issues related to this error, but mine might be different. If not, my apologies.

My app is a chat app with a `header` of the selected conversation. When the selected conversation is switched, the header is updated with new props. One of them is the conversation id.
This `header` has a `Menu` available (`onClick`, but same issue with the `onContextMenu`) and this menu id basically

[2020-11-30 19:42] fkhadra commented on #153
Hey @exapsy,

You can have a look at the [doc]. I've just released the v5.

[2020-11-30 19:42] #153 closed

[2020-11-30 19:42] fkhadra commented on #146
fixed in v5

[2020-11-30 19:42] #146 closed

[2020-11-30 19:43] fkhadra commented on #138
Hey,
With the v5 this is possible. Have a look at [here](https://fkhadra.github.io/react-contexify/mount-menu-at-specific-place)

[2020-11-30 19:43] #138 closed

[2020-11-30 19:44] fkhadra commented on #136
Hey,
This is possible in v5. This is documented [here](https://fkhadra.github.io/react-contexify/prevent-menu-from-closing)

[2020-11-30 19:44] #136 closed

[2020-11-30 19:45] fkhadra commented on #128
Hey,

The `Submenu` component support an `arrow` prop. This is documented [here](https://fkhadra.github.io/react-contexify/change-submenu-arrow)

[2020-11-30 19:45] #128 closed

[2020-11-30 19:46] fkhadra commented on #103
This is solved in v5. Every component accepts any HTML Attribute. The library has been tested using cypress. You can have a look at the example folder in the repo.

[2020-11-30 19:46] #103 closed

[2020-11-30 19:47] #79 closed

[2020-11-30 19:47] #24 closed

[2020-11-30 19:48] #63 closed

[2020-11-30 19:48] fkhadra commented on #63
possible since v5 with custom position

[2020-11-30 19:48] #82 closed

[2020-11-30 19:50] fkhadra commented on #106
This is something that could be implemented using the v5 and custom position. Have a look at [this](https://fkhadra.github.io/react-contexify/set-a-custom-position/#recreate-the-dropdown-step-by-step)

[2020-11-30 19:50] #106 closed

[2020-11-30 19:51] fkhadra commented on #91
Possible in v5. Documented [here](https://fkhadra.github.io/react-contexify/prevent-menu-from-closing)

[2020-11-30 19:51] #91 closed

[2020-11-30 19:51] fkhadra commented on #88
Since v5 the `Menu` is accessible

[2020-11-30 19:51] #88 closed

[2020-11-30 19:52] fkhadra commented on #108
Starting v5 `disabled` is not cached anymore.

[2020-11-30 19:52] #108 closed

[2020-11-30 19:53] #112 closed

[2020-11-30 19:54] fkhadra commented on #113
`MenuProvider` has been dropped starting v5 due to the lack of flexibility.

[2020-11-30 19:54] #113 closed

[2020-11-30 19:55] fkhadra commented on #115
Hey,

`MenuProvider` has been dropped starting v5 due to the lack of flexibility. I'll close this issue. Feel free to reopen the issue if it's popup again with the new implementation

[2020-11-30 19:55] #115 closed

[2020-11-30 19:56] fkhadra commented on #119
Starting v5, this behavior won't occur anymore

[2020-11-30 19:56] #119 closed

[2020-11-30 20:19] fkhadra commented on #118
If you want to render a different Menu based on the selected row, I would suggest that you render a Menu with all the Items and hide the unnecessary items based on a boolean predicate.

[code]

[2020-11-30 20:25] fkhadra commented on #122
Hey,

Starting v5, `MenuProvider` has been dropped

[2020-11-30 20:25] #122 closed

[2020-11-30 20:26] fkhadra commented on #131
This feature has been introduced in v5. You can find the doc [here](https://fkhadra.github.io/react-contexify/disable-or-hide#hide-an-item)

[2020-11-30 20:26] #131 closed

[2020-11-30 20:28] fkhadra commented on #155
Hey @Bilb ,

Can you upgrade to the latest version and check if you still encounter the issue?

**The latest version includes some breaking changes**

[2020-11-30 20:29] fkhadra commented on #154
Hey @nextglabs ,

This is not possible so far. A new version has been released today, the doc has been updated as well. There is a whole section on styling [here](https://fkhadra.github.io/react-contexify/how-to-style)

[2020-11-30 20:29] #154 closed

[2020-11-30 20:31] #149 closed

[2020-11-30 20:40] fkhadra commented on #142
Hey @oyeanuj ,

Thanks for your feedback and sorry for the late reply.

The library gives you the freedom to display the Menu whenever you like.

[code]

[2020-11-30 20:40] #142 closed

[2020-11-30 20:41] fkhadra commented on #141
Hey, v5 has been released. You can solve your issue using react portal. THis is documented [here](https://fkhadra.github.io/react-contexify/mount-menu-at-specific-place)

[2020-11-30 20:41] #141 closed

[2020-11-30 20:44] fkhadra commented on #135
Hey,

The v5 has been released and a new doc is available. I suggest that you look at [this](https://fkhadra.github.io/react-contexify/handle-item-click)

[2020-11-30 20:44] #135 closed

[2020-11-30 20:45] #130 closed

[2020-11-30 20:46] #124 closed

[2020-11-30 20:47] fkhadra commented on #123
closing for housekeeping purpose

[2020-11-30 20:47] #123 closed

[2020-11-30 20:47] #48 closed

[2020-11-30 20:50] fkhadra commented on #151
Hey,

Unfortunately, I don't have a windows machine to troubleshoot this issue.

[2020-11-30 20:51] #155 closed

[2020-11-30 20:51] #118 closed

[2020-11-30 21:55] Bilb commented on #155
Hey @fkhadra there is no way to NOT use hooks with the latest release 5.0.0?

[2020-11-30 21:58] fkhadra commented on #155
Hey @Bilb ,

You can use the `contextMenu` object. https://fkhadra.github.io/react-contexify/trigger-the-menu-outside-of-react-compoent

[2020-11-30 22:30] Bilb commented on #155
@fkhadra thanks it's working. I just have an issue with the placement of the menu in a scrollable container with some overflow.
The menu position is correct when I am on the middle of the scrollable container and there are some hidden elements on top and bottom, but if I try to show it white somewhere the top or the bottom, the menu is several elements above/below the clicked element

[2020-11-30 22:31] Bilb commented on #155
have a look here: https://imgur.com/a/F19dnKO do you want me to open an issue for that?

[2020-11-30 22:53] fkhadra commented on #155
Yes please. Also if you can share the repo with the issue or reproduce the issue on codesanbox it would be awesome

[2020-11-30 23:11] Bilb commented on #155
I fixed it,
the issue was that my container was absolutely positioned, and the fixed position of the menu (0,0) was relative to that container offset.
I fixed it using a portal to some of the root element of the page.
I don't quite get why it was not happening with v4.1.1 though, but all good now !

Thanks a lot for your work

[2020-11-30 23:34] Bilb commented on #155
And just so it's noted, I did not managed to reproduce the issue I encouter on this issue (event not bound)

[2020-12-22 15:59] NemanjaS2P opened #160 "how to position the menu to the left from the click point"
When i click on my button the context menu show up on the right side where the click was. How can i change the position of the menu and put it on the left side. What property do i change to achieve this?

How it is now:

<img width="290" alt="Brez naslova" src="https://user-images.githubusercontent.com/62139963/102907896-f7d9ae00-4476-11eb-922c-d6c67e05f1f6.png">

How i want it to look like:
<img

[2020-12-22 20:45] fkhadra commented on #160
Hello @NemanjaS2P , the position is determined based on the window size. One solution for your use case would be to use the custom position option as shown in the code sanbox sample
[![Edit react-contexify-#160](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/react-contexify-160-wsq8i?fontsize=14&hidenavigation=1&theme=dark)

[2020-12-23 09:41] NemanjaS2P opened #161 "How to close contex menu when scrolling"
if I click on a page and the contex menu opens i want it to close when i scroll the page. Is there a property to set where i hide the menu on scroll?
Thank you

[2020-12-23 10:33] fkhadra commented on #161
Hey @NemanjaS2P, this is already the default behavior.

https://user-images.githubusercontent.com/5574267/102987372-7c2d3f00-4512-11eb-8189-a19f7db10b9a.mov

If it's not your case, could you share the code in a code sanbox ? Thanks

[2020-12-23 10:33] #160 closed

[2020-12-24 10:18] sbrichardson commented on #132
I could be wrong, but I believe it's [this line](https://github.com/fkhadra/react-contexify/blob/67057eebee63110836bad6f2eeba1dda71df58c2/src/components/utils.ts#L26) where the children are cloned.

[From react docs](https://reactjs.org/docs/react-api.html#reactchildrenmap)

[2020-12-24 10:21] fkhadra commented on #132
Hey @sbrichardson, thanks a lot for sharing those details. I'll work on a fix

[2020-12-31 16:42] TheRmbomo opened #162 "Example code in README incorrect"
The code block under 'The gist' in the README has a small error.
`event` is included in the object params when it should be by itself as the first parameter:

Original:
[code]

Fixed:
[code]

Thank you.

[2021-01-06 08:55] codingbycat commented on #161
Open a custom scroll area to close the context-menu？
It can't seem to work well in custom scroll area.
See this code sanbox example: https://codesandbox.io/s/nifty-fermat-ljldf?file=/src/App.tsx:348-359

[2021-01-07 16:01] ricardojrgpimentel opened #163 "Menu overflows out of screen"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
When the trigger to open the menu is performed,. while the menu is already being displayed, by clicking in the same area, the menu overflows out of screen

https://user-images.githubusercontent.com/12200109/103914249-71bd9880-5101-11eb-83c0-4dcb70772e4b.mp4

[2021-01-09 17:28] remberi opened #164 "Dynamic rendering issues"
Hello, I recently doing drag and drop components and encounter a problem, when I want to add Menu, to drag and drop components found Menu component, after appearing immediately disappear, this is our demo, please help me to analyze, Box component is dynamically generated in the business, I wonder if the trigger drag, lead to contain the Menu component are updated together, don't know is there any

[2021-01-12 20:37] aditya-padhi-kbl commented on #161
Yes I am able to reproduce this as well.  We can make it sticky with scroll or it should have an option to automatically hide it.

[2021-01-13 16:26] hugozap opened #165 "Option to scroll when there is a large number of menu items"
**Do you want to request a *feature* or report a *bug*?**
Feature
**What is the current behavior?**

If the number of items is large, it's not possible to scroll through them to select one menu item at the bottom. The context menu is hidden when scrolling.

**What is the expected behavior?**

It should be possible to have a larger number of items in a menu.

[2021-01-18 14:42] bladl opened #168 "<input/> inside <Item/> does not work"
I have input inside menu item. onChange event is not firing.
Seems like it is cancelled globally on [this line](https://github.com/fkhadra/react-contexify/blob/master/src/components/Menu.tsx#L182)

[2021-01-22 19:55] aditya-padhi-kbl commented on #72
@nara007 I am not able to understand the above statement but still I am getting the issue as pointed out by @jerrythimothyj @ngoctigerstyle
To a chart I am adding the instance as
[code]

and I have declared the ID as
[code]

[2021-01-26 11:38] stormrise opened #170 "default browser contextMenu"
request a *feature*

I recently add this to a editor, but I wonder if there has a default browser contextMenu like copy past something like that,

[2021-01-28 18:57] elartix commented on #163
Same issue, it's appeared when configured animation option for `<Menu>` tag

https://user-images.githubusercontent.com/1899626/106185389-74b12380-61ab-11eb-9de0-72258d56fdd4.mp4

[2021-02-06 22:12] ekilah commented on #129
this definitely just got me 🙈 thanks for posting.

[2021-02-17 03:27] csnuknet opened #172 "Menu No longer closing on click or off click"
**What is the current behavior?**

Presently the context menu is persisting once opened and is is no longer closing when an item is clicked or the user scrolls/left clicks away per previous versions.

`
import React, {Component} from 'react';
import {contextMenu, Menu} from 'react-contexify';

class Container extends Component {

    constructor(props) {
        super(props);
    }

    handleEven

[2021-02-23 21:16] fmilioni opened #173 "feat: disable boundaries check"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Menu position is changed if outside screen when using a custom position

**What is the expected behavior?**
Do not update menu position if I pass a prop to disable this feature

**Why I need this**
I have a custom positioning that depends on current translation of my object. The position is not out

[2021-02-24 11:59] draibolit opened #174 "Uncaught ReferenceError: process is not defined"
The error happened when Webpack version 5 was used due to the fact that Webpack 5 removed the ability to access environment variables using the notation process.env.MY_ENV_VAR

My temporary solution:
[code]
and add the following config in Webpack config file:
[code]

[2021-03-11 16:33] thSoft opened #177 "ESLint error for useContextMenu's show function"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

ESLint signals an error for this line with the @typescript-eslint plugin:

```const { show } = useContextMenu();```

```error  Avoid referencing unbound methods which may cause unintentional scoping of `this`  @typescript-eslint/unbound-method```

**If the current behavior is a bug, please provide th

[2021-03-23 05:07] godsamit opened #179 "Option to append context menu to the end of the DOM"
Hi, I was using version 4 looking to upgrade to version 5. I noticed that in version 5 the context menu gets appended to the parent node instead of the end of the DOM.

I basically have a page set up with [react-collapse-pane](https://www.npmjs.com/package/react-collapse-pane), and I need a context menu for each pane. The pane is set up with `position: absolute` and since the context menu gets app

[2021-04-01 09:39] godsamit commented on #179
So I realized v5 removed the React Portal. I basically copied the portal from the previous version and wrapped all `Menu` with Portal like they were in v4.

I'm assuming it was removed as a design choice. Pls close this if you think it's trivial. Otherwise I'd be happy to do a PR to have this as a prop.

[2021-04-09 12:07] ghost opened #180 "possibility to pass data / props to the onShown handler of menu control?"
is that possible?
thank you for help.

[2021-04-16 05:49] jzongker opened #182 "Component blocks keyDown on other elements"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
After calling contenxtMenu.show() the component adds a handler for window.keyDown in order to add keyboard navigation and calls e.preventDefault() within that so that no other controls on the page receive this input.  This is never released so once a menu is showed keyDown events on other page elements

[2021-04-27 10:44] tarnishablec commented on #174
same error when using vite

[2021-05-04 01:18] itsthekeming commented on #174
Hey, I encountered this same error and was able to fix it with [this](https://github.com/vitejs/vite/issues/1973#issuecomment-787571499). Not sure what else it might break though.

[2021-05-09 18:03] jamieshepherd commented on #172
I'd like to re-raise attention to this, it seems like a react/contexify version mis-match. React ~16 works with v5 contexify, React 17 only works with v4.1 contexify.

[2021-05-13 08:40] giacomoalonzi opened #187 "Getting warning about triggerEvent and propsFromTrigger"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

I'm getting "React does not recognize the `triggerEvent` prop on a DOM element." or  react_devtools_backend.js:2557 Warning: React does not recognize the `propsFromTrigger` prop on a DOM element.

**What is the expected behavior?**
No warnings

**Which versions of React, and which browser / OS are aff

[2021-05-19 09:42] giacomoalonzi commented on #187
Warning: React does not recognize the `triggerEvent` prop on a DOM element. If you intentionally want it to appear in the DOM as a custom attribute, spell it as lowercase `triggerevent` instead. If you accidentally passed it from a parent component, remove it from the DOM element.

Warning: React does not recognize the `propsFromTrigger` prop on a DOM element. If you intentionally want it to appea

[2021-06-09 15:42] enomado commented on #132
I have same the problem. Any progress?

[2021-06-22 08:24] kparkitny opened #193 "Menu scroll and submenu"
** BUG **

I'm trying to setup menu (with lot's of element's) as 'display: scroll' properties and see submenu ('display: visible' propertie) When i put display: visible; on Menu there is ok:
https://parkitny.eu/issue/test2.png

but there are too many elements on Menu so i would like to get Scroll od Menu. When i put scroll on Menu , i receive this effect:
https://parkitny.eu/issue/test.png

When i

[2021-07-20 10:36] ETRick opened #195 "Position problem occurred after portal being dropped."
'position: fixed' will perform like 'position: absoulate' when beding child of node with 'tranform'. This is what I met when update react-contexify to 5.0.0：When I modified react-contexify element' style left, top to '0', it only stiky to the left top of it's parent:
![20210720183355](https://user-images.githubusercontent.com/7297417/126309861-3839302a-2a0d-4755-9f2b-05f725f1cf11.jpg)

Here's disc

[2021-07-20 10:39] ETRick commented on #195
Here's discussion about position fixed and tranform: [Positions fixed doesn't work when using -webkit-transform] (https://stackoverflow.com/questions/2637058/positions-fixed-doesnt-work-when-using-webkit-transform)

[2021-09-24 00:34] ekilah commented on #27
I ran into the same issue here, can't tell if it was resolved and regressed from the old discussion above or not, but I was able to fix it by throwing the `<Menu>` render inside a React Portal:

[code]

[2021-09-29 09:06] selvaganapathy5995 opened #199 "Does the latest version 5.0.0 support Internet Explorer"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

The context menu is not opening on the right click.

**What is the expected behavior?**

It should load the context menu.

**Which versions of React, and which browser / OS are affected by this issue? Did this work in previous versions of React?**
React version: 16.8.6

[2021-11-18 12:24] Xuroth opened #200 "Dynamically generate Items for Menu"
**Do you want to request a *feature* or report a *bug*?**
This *may* be a feature request, or I may simply be missing something.
**What is the current behavior?**
Currently, you have to explicitly define the specific Items to render as JSX components. I'm attempting to get the passed props in a component so I can render a dynamic list.

To clarify, I am trying to use this in MySeparateComponent:
[

[2021-11-19 08:44] eirikhm commented on #200
The props are passed to the onClick. I solved this w mobx by having MyCustomContextMenu fetch items from observable state.

[2021-11-19 09:11] Xuroth commented on #200
Hmm... interesting. I use a combination of redux and context (redux handles app data, context is for passing derived data (from expensive calculations)).

I'll look into creating a context for this. Thanks for your help @eirikhm!!

[2021-11-23 17:23] DrStriky commented on #200
@Xuroth can you post your final solution.
I face the same problem.

thx

[2021-11-26 16:06] galexandrade commented on #200
Yeah. This feature is exactly what we need ❤️

[2021-12-13 09:17] bizunas commented on #172
Somehow animations does not work for me as provided in example. When I add `animation={null}` to animate the context menu, at least it closes it down.

[2021-12-14 08:29] #168 closed

[2021-12-16 11:26] npetzall opened #201 "Submenu hidden/disable not identical to Item"
**Do you want to request a *feature* or report a *bug*?**
Bug either Docs or Submenu component.

**What is the current behavior?**
handlerParams in Submenu doesn't include data property, which isn't even defined for Submenu.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run you

[2022-01-20 18:43] BrainCrumbz opened #203 "Submenu shows off screen"
**Do you want to request a *feature* or report a *bug*?**
Bug (at least it seems so)

**What is the current behavior?**
There seems to be 2 scenarios:

  1. When 1st level menu initial position is so close to the the right side that its 1st level items would go off the screen
  2. When 1st level menu is far enough from the right side to correctly show its 1st level items

In scenario 1. , react-co

[2022-02-03 08:17] eirikhm opened #205 "Safe triangle / delay before closing submenu"
**Do you want to request a *feature* or report a *bug*?**
A feature

**What is the current behavior?**
When a submenu is opened it's at times hard to reach it since we need to go sideways with the cursor to avoid focusing the element below, which closes it.

![image](https://user-images.githubusercontent.com/996369/152305086-599aad3b-67df-4cea-a472-f1401086f59d.png)

This is easily demonstrated wi

[2022-02-15 09:09] derwaldgeist opened #206 "Does not work well with "longpress" libraries"
I want to implement a mobile-friendly context menu, pretty much like the one of WhatsApp or Telegram. Which means: the menu should show up once you press and hold for a second. I managed to connect `react-contexify` to a long press library (`use-long-press` for React). But the menu shows two strange behaviours in this scenario:

1. It seems to spawn not only one menu, but several menus stacked ove

[2022-02-24 09:39] jjshe commented on #174
When use vite

Add the following config in vite config file:

[code]

[2022-03-15 09:46] dlwsacrez commented on #203
following

[2022-03-17 21:07] wilmerterrero commented on #200
I solved using a React.Children because the limitation of use ReactFragment

That's the code:

**ContextMenu**
[code]

[2022-03-30 06:38] ttay24 commented on #203
Hi, I also just ran into this issue

[2022-04-03 16:43] jorgerojas26 commented on #132
Any fix on this?

Also running into this issue.

[2022-04-23 19:45] aaadotpm commented on #205
Would being able to pass in custom animations to the `<Submenu />` component help us solve this problem? For instance by adding an `animation-delay` CSS property to a custom animation like we are able to with `<Menu />`?

[2022-05-01 22:35] JonathanMEdwards commented on #174
Happening with esbuild

[2022-06-11 16:47] Sajad321 opened #211 "There is opacity on menu that i cant remove"
## Bug

I cant change the opacity of the element as its appended in the style value, its not making the element pure white

when i change the opacity in the css it makes the context menu disappear
Images provided

The expected behavior:
When i remove the opacity in the element style through developer tools it works perfectly
it needs to be working normmaly when i change it in css
![11_06_2022 07_3

[2022-06-11 17:10] Sajad321 commented on #211
it was added by bootstrap in the table which i dont know
Fixed.

[2022-06-11 17:10] #211 closed

[2022-06-29 08:47] MetaCorp opened #213 ""Error: Invalid hook call" when trying to build locally"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
I'm trying to install react-contexify locally. I have forked and clone the repo to my project.

After rendering the lib in a React Component like in the example, I get this error :
![image](https://user-images.githubusercontent.com/1285196/176392231-c6c0ca3b-3de9-4135-aec2-e56f045e478f.png)

I have che

[2022-07-07 07:18] geroale commented on #203
Same issue here

[2022-07-07 07:19] geroale commented on #163
Same issue here

[2022-07-13 18:28] ShahriarKh commented on #163
I just screen captured this and was going to open a new issue :trollface:
Well, I have the same issue here.

[2022-07-13 19:01] ShahriarKh commented on #161
I have the same problem. The property that causes this problem is:
[code]
and this is the full class applied on my page:
[code]

[2022-07-26 12:10] FontEndArt commented on #205
Yes. I need it, too.

[2022-09-01 13:30] jbflo opened #217 "feat: disable boundaries check"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When the menu Height is > to window Height the menu top position  top goes off-screen
and you can't see some item

      if (_y + menuHeight > windowHeight) {
        _y -= _y + menuHeight - windowHeight;
      }
I would wonder why this minus , cause it cause problem when the menu has a lot of item.
it

[2022-09-28 22:34] kyro95 opened #218 "Menu on closing bug"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Menu pops up for a seconds when closing.
[https://streamable.com/9ff7um](Video)

`const Test = () => {
    const { show } = useContextMenu({
        id: "test"
    });

    return (
        <>
            <div onContextMenu={(e) => {
                show(e, {
                    id: "test"

[2022-10-03 09:49] roildev commented on #98
Hi all! This bug remains. When a dropdown opens on the right side, but its right side is not pressed against the edge of the browser window, the following styles are applied:
[code]

Because of this, the submenu goes beyond the browser window. I suggest to implement the following logic:

[code]
I think it can fix this bug. Thanks

[2022-10-12 08:00] ZeroJsus commented on #218
I have same question

[2022-10-12 09:08] ZeroJsus commented on #218
@kyro95 has you solve it?

[2022-10-12 20:56] kyro95 commented on #218
I think vite is issuing this bug, i've found a temp workaround, you have to play with react states and timer to make appear/disappear the context menu.

[2022-10-13 06:53] ZeroJsus commented on #218
I try to control it with react states, failed too....

[2022-10-14 02:49] ZeroJsus commented on #218
👍 Thank you. Using this code, it works.

Share my implementation.
`
const Component = () => {
    useEffect(() => {
      window.onmousedown = handleMouseDown;
    }, [render, setRender]);

    const handleMouseDown = (event: MouseEvent) => {
        const classNameStr = event?.target?.getAttribute('class');
        if ( classNameStr.indexOf('react-contexify') !== -1 ) {
           setTimeout(() =

[2022-10-15 01:57] sotarules commented on #218
I don't have proof but I would bet money this is caused by React 18 update batching.  The key to fixing it would be to judiciously use flushSync in places where the visibility state of the context menu is being changed.  I'm seeing this right now, when a context menu item is selected, the context menu is hidden, but then flashes back into appearance for a couple of milliseconds then hides again.

[2022-10-15 19:56] sotarules opened #219 "Context Menu Flashes Briefly After Hide (React 18 Batched Updates Issue)"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-contexify@5.0.0` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2022-10-21 07:08] kyro95 commented on #218
Thanks alot for identifying the issue, I'll test it out your patch when I'll get back to my workstation

[2022-10-24 03:43] supriome commented on #219
Thanks. @sotarules And I have a question, do we need to change this file `react-contexify.cjs.production.min.js` to use `react-contexify` in produciton.

[2022-10-24 16:45] sotarules commented on #219
@supriome no sorry you only have to patch the ESM.  I am going to alter that comment to get rid of the CJS patch, that was just me experimenting.  I could not figure out which file I had to change.

[2022-11-03 07:11] fkhadra commented on #218
Hey @ sotarules, thanks for the detailed write-up. The library has not been updated for a while, lack of time, covid, new kids, etc...
Anyway, I'm currently working on the next version scheduled for this month. I'm trying to see if I can fix the issue without relying on `flushSync` if not then I'll go for  it

[2022-11-03 19:15] fkhadra commented on #179
Hey @godsamit, I finally managed to get some time to work on the library again. I'm working on the next major release.
Portal has been removed in v5 but there is an example in the documentation on how to use it with portal https://fkhadra.github.io/react-contexify/mount-menu-at-specific-place. I'll make it more obvious with the new version

[2022-11-03 19:15] #179 closed

[2022-11-03 19:28] fkhadra commented on #217
Actually, this is by design, the position is recomputed using to prevent the menu for going outside the window. I'll add an option to disable the behavior in the next release

[2022-11-03 19:30] fkhadra commented on #213
Hey I think something is off with your setup, if you share a repo I could maybe help

[2022-11-03 19:31] fkhadra commented on #206
Hey @derwaldgeist, I'll see if I can do something for the next release about this

[2022-11-03 19:33] fkhadra commented on #199
Hey, a bit late :(. I'm working on the next major release, I don't think I ever tested the library with IE. I don't intend to support it

[2022-11-03 19:33] #199 closed

[2022-11-03 19:36] fkhadra commented on #195
Hey sorry for the late reply, to get the old behavior this is documented here https://fkhadra.github.io/react-contexify/mount-menu-at-specific-place. I'm currently working on the next major release, I'll make it more obvious

[2022-11-03 19:36] #195 closed

[2022-11-03 19:37] fkhadra commented on #187
without a reproduction I cannot help :(

[2022-11-03 19:43] fkhadra commented on #174
The use of process will be removed.

[2022-11-03 19:46] fkhadra commented on #170
Hey this has to be implemented in userland, see https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Interact_with_the_clipboard

[2022-11-03 19:46] #170 closed

[2022-11-03 21:52] fkhadra commented on #217
Fixed by https://github.com/fkhadra/react-contexify/pull/220

[2022-11-03 22:08] #162 closed

[2022-11-04 05:58] lianyzhou opened #221 "click event not triggered when click menu item"
![bug](https://user-images.githubusercontent.com/6295633/199900182-b2cb4072-2271-4931-abb9-1adba542fce7.gif)

i found a bug with react-contexify， when user select some text in the input , then trigger context menu , and then click the menu item, the item will not trigger the click event。

but when i changed the click event to mousedown , the problem solved， it is wired，but real exist.

![image](ht

[2022-11-04 06:27] fkhadra commented on #182
Fixed by https://github.com/fkhadra/react-contexify/pull/220

[2022-11-04 06:28] fkhadra commented on #180
`onShown` and `onHidden` will be removed in the next release https://github.com/fkhadra/react-contexify/pull/220

[2022-11-04 06:28] #180 closed

[2022-11-04 06:56] fkhadra commented on #221
Hey @lianyzhou, it will be available in the next release https://github.com/fkhadra/react-contexify/pull/220 I'm currently working on it

[2022-11-05 13:02] fkhadra commented on #203
Hey @BrainCrumbz, I'm working on the next major release(finally). Thanks a lot for providing a reproduction, it saved me a lot of time

https://user-images.githubusercontent.com/5574267/200121251-9b9c3c30-3328-40b0-8488-62e46e2ae45a.mov

[2022-11-05 21:18] fkhadra commented on #161
As a workaround you could close the menu programmatically, for example, you can listen for the scroll on the target and then close the menu

[code]

[2022-11-08 09:14] BrainCrumbz commented on #203
Thanks to you for your time

[2022-11-13 22:08] #163 closed

[2022-11-13 22:08] #173 closed

[2022-11-13 22:09] #174 closed

[2022-11-13 22:09] #177 closed

[2022-11-13 22:09] #182 closed

[2022-11-13 22:09] #203 closed

[2022-11-13 22:09] #217 closed

[2022-11-13 22:09] #218 closed

[2022-11-13 22:09] #219 closed

[2022-11-13 22:09] #221 closed

[2022-11-16 22:54] eastcoasting opened #227 "Context Menu with Wrapper Closes Immediately"
**Do you want to request a *feature* or report a *bug*?**
Report Bug

**What is the current behavior?**
After upgrading to V6 the context menu is not behaving as expected—it opens and then quickly closes without moving the cursor away. This works as expected on a normal div, but when I use a wrapper to pass in additional event data on click it fails to work as in V5. The gif below shows the update

[2022-11-17 15:29] anudeepreddy opened #228 "A small note on close event listeners"
Currently all the event listeners that handle close are set to be handled at bubbling phase.
[code]

**Will there be any unintended consequences if we take the approach mentioned below?**
Change all the events to be handled during capture phase, this offers us the following advantages:
- scroll: the behavior gets inline with the browser's default context menu
  - works with any scroll action (even

[2022-11-23 02:33] nodwyer4 opened #229 "Submenu positioning missing in 6.0.0"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Unstyled submenu no longer has left/right positioning and appears over the top of the current context menu

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code and it doesn't

[2022-11-30 18:10] Abramo-Bagnara opened #231 "Menu is removed before item actions are completed."
I need to put a `<input type="file">` as a menu item, but as the file chooser dialog steal the focus, the menu is removed from DOM and then the change event from input element is not fired.

Of course closeOnClick does not help as the problem is due to focus loss.

Do we have a way to avoid that menu is removed (e.g. just hiding it)?

[2022-11-30 18:35] Abramo-Bagnara commented on #231
Not that I like the solution very much, but I've been able to make it work as expected using animation="show" and the following css:
[code]